@import "styles";

.full-content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 0.5rem;

  @media (min-width: $tablet) {
    @include subgrid();
  }


  @media(min-width: $desktop){

    .brand{
      @include flex();
      grid-column: 6 / span 2 ;
      gap: 0.5rem;
     }
    
    .icon{
     @include flex();
     grid-column: -2 / -1;
    }

    .hamburger-drawer{
      display: none;
    }
  }

}

.icon {
  &:first-of-type {
    justify-self: start;
  }

  display: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: $white;
  align-self: center;
  justify-self: end;
  position: relative;

  span {
    position: absolute;
    top: 100%;
    left: 50%;
    width: max-content;
    color: $white;
    transform: translate(-50%, 0%);
    text-align: center;
    @include text(small, semibold);
  }

  @media (min-width: $tablet) {
    font-size: 2rem;
  }

}

.hamburger-drawer {
  @include flex();
     grid-column: 1 / 1;

  font-size: 1.25rem;
  color: $white;
  background-color: transparent;
  border: none;
  justify-self: start;

  @media (min-width: $tablet) {
    justify-self: start;
    font-size: 1.5rem;
  }
}


.brand {
  @include flex();
  grid-column: 2 / -2;
  gap: 0.5rem;

  img {
    width: 2.5rem;
  }

  &-name {
    @include flex(column);

    h3 {
      @include text(normal, medium);
      color: $white;
    }

    p {
      @include text(small);
      color: $white;
    }
  }

  @media (min-width: $mobile) {
    img {
      width: 4.5rem;
    }
    &-name {
      h3 {
        @include heading(h4);
      }

      p {
        @include text(normal, medium);
      }
    }
  }

  @media (min-width: $tablet) {
    gap: 1.5rem;
    text-decoration: none;
    &-name {
      h3 {
        @include heading(h3);
      }
    }
  }
}
