<label for="password">
    <p inputTitle="inputTitle">{{inputTitle}}</p>
    <div class="input" 

        [ngStyle]="{ width: width !== '0' ? width + 'rem' : '46.063rem', 
            height: height !== '0' ? height + 'rem' : '2.875rem' }" 
        [class.disabled]="disabled">

        <input [type]="showPassword ? 'text' : 'password'" 
        [placeholder]="placeholder" 
        [disabled]="disabled"
        #passwordInput 
        id="password"
        
        (change)="getValue(passwordInput.value)">

        <fa-icon [icon]="eyeIcon" (click)="changeVisibility()"></fa-icon>

    </div>
</label>