@import "styles";

.round-card {
  text-align: center;

  a {
    text-decoration: none;
    color: $black1;

    img {
      border-radius: 0.5rem;
      width: 100px;
      height: 100px;
    }
  }
}
