@import "styles";

.round-card {
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    color: $black1;
    img {
      border-radius: 0.5rem;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
  }
}
