@import "styles";

.product-section {
  @include subgrid();
  grid-column: 1 / -1;
  grid-template-rows: minmax(2.375rem, auto) minmax(23rem, auto);
  gap: 1rem;

  &.divider-true{
    padding-top: 0.75rem;
    border-top: 1px solid $gray4;
  }

  @media (min-width: $tablet) {
    gap: 1.5rem;
    padding-top: 1rem;
  }

  @media (min-width: $desktop) {
    padding-top: 1.5rem;
  }
  @media (min-width: $desktopHD) {
    gap: 2rem;
    padding-top: 2rem;
  }

  &-title {
    color: $primary;
    text-transform: capitalize;
    grid-column: 1 /-1;
    text-align: center;
    @include heading();

    @media (min-width: $tablet) {
      text-align: start;
      @include heading(h4);
    }
  }

  &-cards {
    grid-column: 1 / -1;
    @include subgrid();
    app-product-carousel {
      @include subgrid();
    }
  }
}
