@import "styles";

.product-section {
  @include subgrid();
  grid-column: 1 / -1;
  grid-template-rows: minmax(2.375rem, auto) minmax(23rem, auto);
  gap: 2rem;

  @media (max-width: $desktop) {
    gap: 1rem;
  }
  @media (max-width: $tablet) {
    gap: 0rem;
  }
  @media (max-width: $mobile) {
    gap: 0rem;
  }

  &-title {
    color: $primary;
    text-transform: capitalize;
    grid-column: 1 / span 12;

    @media (max-width: $desktop) {
      @include heading(h5)
    }
    @media (max-width: $tablet) {
      @include heading(h6)
    }
    @media (max-width: $mobile) {
      @include text(large)
    }

  }

  &-cards{
    grid-column: 1 / -1;
    @include subgrid();
    // display: grid;
    // grid-template-columns: subgrid;
    // grid-auto-flow: row;
    // grid-column: 1 / span 12;
    // &-card {
    //   grid-column: span 3;
    // }
    app-product-carousel{
    @include subgrid();
    }
  }
}
