<app-layout>
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <img [src]="product!.images[0]" alt="" />
    <label for="rating">
      <p>Como você classificaria esse produto?*</p>
      <div class="stars">
        <fa-icon
          *ngFor="let star of stars; let i = index"
          [icon]="star"
          (click)="updateStars(i + 1)"
        ></fa-icon>
      </div>
      <input
        type="range"
        max="5"
        step="1"
        id="rating"
        formControlName="rating"
        placeholder="Digite seu nome completo"
        [class.has-error]="rating?.touched && rating?.invalid"
        required
      />
      <ng-container *ngIf="rating?.touched && rating?.invalid">
        <span *ngIf="rating?.getError('isEmpty')" class="error-message">
          Você deve preencher esse campo!
        </span>
      </ng-container>
    </label>
    <label for="review" appInput>
      <p>Escreva a sua avaliação*</p>
      <textarea
        id="review"
        formControlName="review"
        placeholder="Do que você gostou ou não gostou? Como você usa esse produto?"
        [class.has-error]="review?.touched && review?.invalid"
        required
      ></textarea>
      <ng-container *ngIf="review?.touched && review?.invalid">
        <span *ngIf="review?.getError('isEmpty')" class="error-message">
          Você deve preencher esse campo!
        </span>
      </ng-container>
    </label>
    <input
      type="submit"
      value="Finalizar avaliação"
      [disabled]="!isFormValid()"
      appButton="secondary"
    />
  </form>
</app-layout>
