@import "styles";

form {
  @include subgrid();
  grid-column: 1 / -1;
  row-gap: 2rem;

  @media (min-width: $tablet) {
    grid-column: 2 / -2;
  }

  img {
    width: 50%;
    place-self: center;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    grid-column: 1 / -1;
    grid-row: auto / span 1;
    @media (min-width: $desktop) {
      width: 100%;
      grid-column: auto / span 4;
      grid-row: auto / span 2;
    }
  }

  label {
    align-items: center;
    place-self: center;
    grid-column: 1 / -1;
    position: relative;
    width: 100%;
    height: auto;
    gap: 1rem;

    @media (min-width: $desktop) {
      align-items: flex-start;
    }

    p {
      @include text(medium, bold);
      text-align: center;
      @media (min-width: $desktop) {
        text-align: start;
      }
    }

    input,
    textarea {
      width: 100%;
      height: 100%;
    }

    &[for="review"] {
      height: 10.5rem;
    }

    &[for="title"],
    &[for="rating"] {
      grid-column: 1 / -1;
      @media (min-width: $desktop) {
        grid-column: auto / span 6;
      }
    }

    &[for="rating"] {
      @include flex(column, center);
      gap: 1rem;

      @media (min-width: $desktop) {
        align-items: start;
      }

      .stars {
        @include flex($justify: center);
        gap: 1rem;
        width: 100%;

        @media (min-width: $tablet) {
          @include flex($justify: space-between);
        }

        @media (min-width: $desktop) {
          gap: 1.5rem;
          @include flex($justify: flex-start);
        }

        fa-icon {
          color: $secondary;
          font-size: 1.5rem;
          @media (min-width: $tablet) {
            font-size: 2.5rem;
          }
        }
      }

      input {
        display: none;
      }
    }

    &[for="image"] {
      @include flex(column, flex-start);
      width: 100%;
      height: 10.5rem;

      input[type="file"] {
        display: none;
      }

      div {
        @include flex();
        border-radius: 1rem;
        border: 3px dashed $gray2;
        width: 100%;
        height: 100%;
        background-color: $gray5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: content-box;
        fa-icon {
          font-size: 2rem;
          @media (min-width: $desktop) {
            font-size: 4rem;
          }
        }
      }
    }
  }

  input[type="submit"] {
    height: 3rem;
    grid-column: 1 / -1;
    @media (min-width: $desktop) {
      grid-column: 4 / span 4;
    }
  }
}

.has-error {
  border-color: $error;
  color: $error;
}

.error-message {
  @include text(small);
  color: $error;
  position: absolute;
  top: 100%;
  left: 0;
}
