<section class="banner">
  <h1>Vem aí</h1>
  <div class="row">
    <div class="text-content">
      <h4>E-commerce</h4>
      <p>
        Diga adeus à preocupação de ficar sem ração, petiscos ou outros itens
        essenciais para o seu pet! Com a assinatura personalizada, você recebe
        os produtos que seu pet mais consome em casa, com frequência regular e
        com descontos exclusivos.
      </p>
    </div>
    <div class="vertical-divider"></div>
    <div class="text-content">
      <h4>Agendamento on-line</h4>
      <p>
        Com o sistema de agendamento online da TopCare, você tem a praticidade
        de agendar consultas, banhos e tosas para todos os seus bichinhos de
        estimação em um único lugar. E o melhor: você pode cadastrar e
        acompanhar individualmente cada pet no sistema.
      </p>
    </div>
  </div>
  <div class="horizontal-divider"></div>
  <div class="column">
    <div class="text">
      <h4>Ficou com alguma dúvida?</h4>
      <p>Aqui estão alguns links úteis</p>
    </div>
    <div class="buttons">
      <button appButton="secondary" (click)="openPage('sobre-nos')">
        Sobre nossa empresa
      </button>
      <button appButton="secondary" (click)="openPage('nossas-lojas')">
        Nossas lojas físicas
      </button>
      <button appButton="secondary" (click)="openPage('contate-nos')">
        Envie sua mensagem
      </button>
    </div>
  </div>
</section>
