@import 'styles';

.section-product {
    @include subgrid();
    grid-column: 1 / -1;
    row-gap: 1rem;

    @media(min-width: $tablet) {
        row-gap: 1.5rem;
    }

    @media(min-width: $desktop) {
        row-gap: 2rem;
    }

    .section-image {
        @include subgrid();
        grid-column: 1 / -1;

        @include flex($align: start);

        img {
            grid-column: 1 / -1;
            max-width: 17rem;
            width: 100%;
            object-fit: cover;

            border-radius: 1.25rem;

            @media(min-width: $tablet) {
                max-width: initial;
                width: 100%;
            }
        }

        @media(min-width: $tablet) {
            grid-column: 1 / 4;
        }

        @media(min-width: $desktop) {
            grid-column: 1 / 5;
        }

    }

    .section-forms {
        @include subgrid();
        grid-column: 1 / -1;
        row-gap: 1rem;

        @media(min-width: $tablet) {
            grid-column: 4 / -1;
            row-gap: 1.5rem;
        }

        @media(min-width: $desktop) {
            grid-column: 5 / -1;
            row-gap: 2rem;
        }

        .title-code {
            @include subgrid();
            grid-column: 1 / -1;
            row-gap: 1rem;

            @media(min-width: $tablet) {
                row-gap: 1.5rem;
            }

            @media(min-width: $desktop) {
                row-gap: 2rem;
            }

            .labels {

                @media(min-width: $tablet) {
                    &:first-child {
                        grid-column: 1 / -1;
                    }

                    &:last-child {
                        grid-column: 1 / -1;
                    }
                }

                @media(min-width: $desktop) {

                    &:first-child {
                        grid-column: 1 / 5;
                    }

                    &:last-child {
                        grid-column: 5 / -1;
                    }
                }
            }
        }

        .labels {
            grid-column: 1 / -1;

            p {
                @include text(normal, bold);
                color: $primary;

                @media(min-width: $desktopHD) {
                    @include heading(h6);
                }
            }

            input, select {
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 6.25rem;
            }

        }
    }

    label[for="image"] {
        @include flex(column, flex-start);
        grid-column: 1 / 1;
        width: 100%;
        height: 100%;
        min-height: 10.5rem;

        input[type="file"] {
            display: none;
        }

        div {
            @include flex(column);
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            background-color: $gray5;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-clip: content-box;
            gap: 0.5rem;

            fa-icon {
                font-size: 2rem;

                @media (min-width: $desktop) {
                    font-size: 4rem;
                }
            }

            P {
                @include text(medium, bold);
            }
        }
    }


}

:host ::ng-deep {

    .p-multiselect {
        margin-top: 0.5rem;
        width: 95vw;

        @media(min-width: $tablet) {
            width: 100%;
        }

        border: 2px solid $primary  !important;
        border-radius: 0.5rem;
    }

    .p-multiselect-trigger {
        width: 1.25rem;
    }

    .pi:before {
        font-size: 0.65rem;
        font-weight: 900;
    }

}

.has-error {
    border-color: $error;
    color: $error;
}