@import "styles";

dialog {
  &:not([open]) {
    display: none;
  }
  @include grid-container();
  border: none;
  outline: none;
  margin: auto;
  background-color: transparent;

  form {
    @include subgrid();
    position: relative;
    row-gap: 1rem;
    border-radius: 1.25rem;
    color: $black1;
    background-color: $white;
    padding: 1rem;
    grid-column: 1 / -1;

    @media (min-width: $desktop) {
      row-gap: 1.5rem;
      padding: 1.5rem;
      grid-column: 2 / -2;
    }

    h4,
    p {
      grid-column: 1 / -1;
      text-align: center;
    }
    h4 {
      color: $primary;
    }

    select {
      height: 3rem;
      grid-column: 1 / -1;
      width: 100%;
      @media (min-width: $desktop) {
        grid-column: 2 / span 8;
      }
    }

    .close-button,
    input[type="submit"] {
      border-radius: 0.5rem;
      grid-column: 1 / -1;
      height: 3rem;

      @media (min-width: $desktop) {
        &.close-button {
          grid-column: 2 / span 4;
        }
        grid-column: auto / span 4;
      }
    }
  }
}
