<dialog #modal [open]="open" (cancel)="$event.preventDefault()">
  <form [formGroup]="accountEmail" (ngSubmit)="onSubmit()">
    <h4>Esqueci minha senha</h4>
    <p>Digite seu e-mail que ira receber o código para criar uma nova senha</p>
    <label for="email" appInput>
      <p>E-mail*</p>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Digite seu e-mail"
        [class.has-error]="email?.touched && email?.invalid"
        required
      />
      <ng-container *ngIf="email?.touched && email?.invalid">
        <span *ngIf="email?.getError('isEmpty')" class="error-message">
          Você deve preencher esse campo!
        </span>
        <span *ngIf="email?.getError('email')" class="error-message">
          Deve ser um e-mail válido!
        </span>
      </ng-container>
    </label>
    <button appButton class="close-button" (click)="onCancel($event)">
      Fechar
    </button>
    <input
      type="submit"
      value="Enviar"
      [disabled]="!isFormValid()"
      appButton="secondary"
    />
  </form>
</dialog>
