<app-layout>
  <div class="content">
    <div class="commonSection">
      <app-order-status
        [order]="order!"
        class="commonSection-primary"
      ></app-order-status>
      <app-order-details
        [details]="{
          address: order!.address,
          payment: order!.payment,
          expectedDate: order!.expectedDate,
          numberOfItems: order!.items.length
        }"
        class="commonSection-secondary"
      ></app-order-details>
    </div>
    <app-product-item-section [items]="order!.items"></app-product-item-section>
    <button appButton (click)="router.navigate(['/perfil/pedidos'])">
      Voltar
    </button>
    <button
      *ngIf="order!.expectedDate"
      appButton="secondary"
      (click)="cancelOrder()"
      class="cancel-button"
    >
      Cancelar pedido
    </button>
  </div>
</app-layout>
