<div class="drawer-overlay" [class.open]="drawerIsOpen">
  <div class="drawer-menu">
    <button class="close-btn" (click)="toggleDrawer()">X</button>
    <div class="drawer-menu-items">
      <a routerLink="/sobre-nos" (click)="toggleDrawer()">Sobre nós</a>
      <a routerLink="/nossas-lojas" (click)="toggleDrawer()">Nossas lojas</a>
      <a routerLink="/contate-nos" (click)="toggleDrawer()">Contatos</a>
    </div>
  </div>
  <div class="drawer-background" (click)="toggleDrawer()"></div>
</div>

<div class="full-content">
  <button class="hamburger-drawer" (click)="toggleDrawer()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <a routerLink="/perfil" class="icon">
    <fa-icon [icon]="faUser"></fa-icon>
    <span *ngIf="isLogged">
      Olá,
      {{ firstName }}
    </span>
  </a>
  <a routerLink="/" class="brand">
    <img
      src="assets/images/TopCareLogo.png"
      alt="Brand logo image"
      class="logo"
    />
    <div class="brand-name">
      <h6>Petshop</h6>
      <p>Top Care</p>
    </div>
  </a>
  <div class="services-sales">
    <a routerLink="/servicos">Serviços</a>
    <div class="line"></div>
    <a routerLink="/busca">Promoções</a>
  </div>
  <label class="searchbar" for="searchbar" appInput>
    <div>
      <input
        (keydown)="verifyChar($event)"
        [(ngModel)]="seachValue"
        type="text"
        name="searchbar"
        placeholder="Meu pet precisa de..."
      />
      <button (click)="handleClickSeach()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </label>
  <a routerLink="/carrinho" class="icon">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
  </a>
  <a routerLink="/favoritos" class="icon">
    <fa-icon [icon]="faHeart"></fa-icon>
  </a>
  <div class="utility-icons">
    <a routerLink="/perfil">
      <fa-icon [icon]="faUser"></fa-icon>
      <span *ngIf="isLogged">
        Olá,
        {{ firstName }}
      </span>
    </a>
    <a routerLink="/carrinho">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </a>
    <a routerLink="/favoritos">
      <fa-icon [icon]="faHeart"></fa-icon>
    </a>
  </div>
</div>
