@import "styles";

dialog {
  &:not([open]) {
    display: none;
  }
  @include grid-container();
  border: none;
  outline: none;
  margin: auto;
  background-color: transparent;

  form {
    @include subgrid();
    position: relative;
    row-gap: 1.5rem;
    border-radius: 1.25rem;
    color: $black1;
    background-color: $white;
    padding: 1rem;
    grid-column: 1 / -1;

    @media (min-width: $desktop) {
      row-gap: 2rem;
      padding: 1.5rem;
      grid-column: 2 / -2;
    }

    h4 {
      grid-column: 1 / -1;
      color: $primary;
      text-align: center;
    }

    label {
      position: relative;
      grid-column: 1 / -1;
      width: 100%;
      height: 4.75rem;

      @media (min-width: $desktop) {
        &:first-of-type {
          grid-column: 2 / span 4;
        }
        grid-column: auto / span 4;
      }

      input,
      div {
        width: 100%;
        height: 100%;
      }
    }

    .close-button,
    input[type="submit"] {
      border-radius: 0.5rem;
      grid-column: 1 / -1;
      height: 3rem;

      @media (min-width: $desktop) {
        &.close-button {
          grid-column: 2 / span 4;
        }
        grid-column: auto / span 4;
      }
    }
  }
}

.has-error {
  border-color: $error;
  color: $error;
}

.error-message {
  @include text(small);
  color: $error;
  position: absolute;
  top: 100%;
  left: 0;
}
