<dialog #modal [open]="open" (cancel)="$event.preventDefault()">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <h4>Altere a sua senha</h4>
    <label for="password" appInput>
      <p>Nova senha</p>
      <div>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          placeholder="Nova senha"
          formControlName="password"
          [class.has-error]="password?.touched && password?.invalid"
          required
          (blur)="checkConfirmation()"
        />
        <button
          (click)="changeShowPassword($event)"
          [class.has-error]="password?.touched && password?.invalid"
        >
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <ng-container *ngIf="password?.touched && password?.invalid">
        <span *ngIf="password?.getError('length')" class="error-message">
          Mínimo 8 caracteres!
        </span>
        <span *ngIf="password?.getError('number')" class="error-message">
          Deve conter um número!
        </span>
        <span *ngIf="password?.getError('uppercase')" class="error-message">
          Deve conter uma letra maiúscula!
        </span>
        <span *ngIf="password?.getError('lowercase')" class="error-message">
          Deve conter uma letra minúscula!
        </span>
      </ng-container>
    </label>
    <label for="password-confirmation" appInput>
      <p>Confirmar senha</p>
      <div>
        <input
          [type]="showPasswordConf ? 'text' : 'password'"
          id="password-confirmation"
          placeholder="Confirmar senha"
          formControlName="passwordConf"
          [class.has-error]="passwordConf?.touched && passwordConf?.invalid"
          required
          (blur)="checkConfirmation()"
        />
        <button
          (click)="changeShowPasswordConf($event)"
          [class.has-error]="passwordConf?.touched && passwordConf?.invalid"
        >
          <fa-icon [icon]="showPasswordConf ? faEye : faEyeSlash"></fa-icon>
        </button>
      </div>
      <ng-container *ngIf="passwordConf?.touched && passwordConf?.invalid">
        <span *ngIf="passwordConf?.getError('isEmpty')" class="error-message">
          Você deve preencher esse campo!
        </span>
        <span *ngIf="passwordConf?.getError('notEqual')" class="error-message">
          A confirmação está diferente da senha!
        </span>
      </ng-container>
    </label>
    <button appButton class="close-button" (click)="onCancel($event)">
      Fechar
    </button>
    <input
      type="submit"
      value="Enviar"
      [disabled]="!isFormValid()"
      appButton="secondary"
    />
  </form>
</dialog>
