
<app-choose-address-modal [(open)]="openAddresses"></app-choose-address-modal>

<app-header [simple]="true"></app-header>
<main>
    <h6 class="title">Carrinho</h6>

    <section class="commonSection">
        <app-cart-product-card-section></app-cart-product-card-section>
        <app-cart-payment-information (openAddressesModalEmitter)="openAddressModal()" class="commonSection-secondary"></app-cart-payment-information>
    </section>
    
    <ng-container *ngIf="itens.length">
        <app-product-section title="Itens Semelhantes" [product]="itens[0].product"></app-product-section>
    </ng-container>

</main>
<app-footer></app-footer>
