@import "styles";

.border {
    border: 2px solid $primary;
    border-radius: 0.5rem;

    width: 1.875rem;
    height: 1.875rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.check {
    border: 1px solid $primary;
    border-radius: 0.25rem;

    background-color: $primary;

    width: 1rem;
    height: 1rem;
}