<app-header (sideBarOpenEmitter)="sideBarOpen($event)" [simple]="true" [employee]="true"></app-header>
<main>
  <app-dashboard-side-bar pageNow='produto' [isOpen]="isOpen"></app-dashboard-side-bar>
  <div class="layout-dashboard">

    <h1>{{titlePage}}</h1>

    <form [formGroup]="productForm">




      <section class="sections section-product">
        <div class="title-code">
          <label for="title" class="labels" appInput>
            <p>Título do Produto*</p>
            <input type="title" id="title" formControlName="title" placeholder="Título do produto" required />
          </label>

          <label for="code" class="labels" appInput>
            <p>Código*</p>
            <input type="code" id="code" formControlName="code" placeholder="Código do produto" required />
          </label>
        </div>

        <label for="description" class="labels" appInput>
          <p>Descrição*</p>
          <textarea type="description" id="description" formControlName="description" placeholder="Descrição do produto"
            required>
            </textarea>
        </label>

        <label for="littleDescription" class="labels" appInput>
          <p>Descrição Curta*</p>
          <input type="littleDescription" id="littleDescription" formControlName="littleDescription"
            placeholder="Descrição curta" required />
        </label>
      </section>




      <section class="sections section-specifications">

        <div class="header-specifications">
          <h6>Especificações</h6>
          <button class="btn-add" (click)="addSpecifications()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>


        <ng-container *ngIf="specificationsOpen">
          <div class="specification">

            <div class="specification-card">
              <p><span>Adicionar Especificações</span></p>
              <button appButton="secondary">Adicionar</button>
            </div>

            <form [formGroup]="specificationForm" class="form-specifications">
              <label for="title" class="labels" appInput>
                <p>Título da Especificação*</p>
                <input type="title" id="title" formControlName="title" placeholder="Título da Especificação"
                  required />
              </label>

              <label for="description" class="labels" appInput>
                <p>Descrição da Especificação*</p>
                <input type="description" id="description" formControlName="description"
                  placeholder="Descrição da Especificação" required />
              </label>
            </form>
          </div>
        </ng-container>



        <div class="specifications">
          <ng-container *ngFor="let specification of product?.specifications">

            <div class="specification">

              <div class="specification-card">
                <p>Título: <span>{{specification.title}}</span></p>
                <fa-icon [icon]="faTrash"></fa-icon>
              </div>

              <form [formGroup]="specificationForm" class="form-specifications">
                <label for="title" class="labels" appInput>
                  <p>Título da Especificação*</p>
                  <input type="title" id="title" formControlName="title" placeholder="Título da Especificação"
                    required />
                </label>

                <label for="description" class="labels" appInput>
                  <p>Descrição da Especificação*</p>
                  <input type="description" id="description" formControlName="description"
                    placeholder="Descrição da Especificação" required />
                </label>
              </form>

            </div>
          </ng-container>
        </div>

      </section>




      <section class="sections section-variants">

        <div class="header-variants">
          <h6>Variantes</h6>
          <button class="btn-add" (click)="addVariant()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>

      </section>





    </form>
  </div>

</main>