<app-header (sideBarOpenEmitter)="sideBarOpen($event)" [simple]="true" [employee]="true"></app-header>
<main>
  <app-dashboard-side-bar pageNow='produto' [isOpen]="isOpen"></app-dashboard-side-bar>
  <div class="layout-dashboard">

    <h1>{{titlePage}}</h1>

    <section class="sections">
      <app-product-forms [(productForm)]="productForm"></app-product-forms>
    </section>

    <!-- <section class="sections">
      <app-specifications-forms [(specificationForm)]="specificationForm" ></app-specifications-forms>
    </section>

    <section class="sections">
      <app-variant-forms [(variantForm)]="variantForm"></app-variant-forms>
    </section> -->

    <div class="div-btns">
      <button routerLink="/dashboard/produtos" appButton="">Voltar</button>
      <ng-container *ngIf="this.product; else notProduct">
        <button appButton="secondary">Salvar</button>
      </ng-container>
      <ng-template #notProduct>
        <button appButton="secondary">Adicionar</button>
      </ng-template>
    </div>

  </div>

</main>