@import 'styles';

main {
    display: flex;

    .layout-dashboard {
        @include subgrid();
        @include layoutDashboard;

        h1 {
            grid-column: 1 / -1;
            color: $primary;
            @include heading(h6);

            @media(min-width: $tablet) {
                @include heading(h4);
            }

            @media(min-width: $desktop) {
                @include heading(h2);
            }

            @media(min-width: $desktopHD) {
                @include heading(h1);
            }
        }

        form {
            @include subgrid();
            grid-column: 1 / -1;
            row-gap: 1rem;

            @media(min-width: $tablet) {
                row-gap: 1.5rem;
            }

            @media(min-width: $desktop) {
                row-gap: 2rem;
            }
        }
            .sections {
                @include subgrid();
                grid-column: 1 / -1;
                grid-auto-rows: min-content;
                row-gap: 1rem;

                @media(min-width: $tablet) {
                    row-gap: 1.5rem;
                }

                @media(min-width: $desktop) {
                    row-gap: 2rem;
                }
            

            &.section-product {

                .title-code {
                    @include subgrid();
                    grid-column: 1 / -1;
                    row-gap: 1rem;

                    @media(min-width: $tablet) {
                        row-gap: 1.5rem;
                    }

                    @media(min-width: $desktop) {
                        row-gap: 2rem;
                    }

                    .labels {

                        @media(min-width: $tablet) {
                            &:first-child {
                                grid-column: 1 / 4;
                            }

                            &:last-child {
                                grid-column: 4 / -1;
                            }
                        }

                        @media(min-width: $desktop) {

                            &:first-child {
                                grid-column: 1 / 7;
                            }

                            &:last-child {
                                grid-column: 7 / -1;
                            }
                        }
                    }
                }
            }

            &.section-specifications {
                @include subgrid();
                grid-column: 1 / -1;


                .header-specifications {
                    @include flex($justify: start);
                    grid-column: 1 / -1;
                    gap: 0.5rem;

                    h6 {
                        color: $primary;

                        @media(min-width: $tablet) {
                            @include heading(h4);
                        }

                    }

                    .btn-add {
                        @include flex();
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: $primary;
                        border-radius: 100%;

                        border: 0;

                        cursor: pointer;

                        fa-icon {
                            @include flex();
                            color: $white;
                        }
                    }
                }


                .specifications {

                    display: flex;
                    flex-wrap: wrap;
                    grid-column: 1 / -1;
                    row-gap: 0.25rem;

                    gap: 1rem;

                    .select-tag {
                        @include flex($justify: start);
                        background-color: $white;
                        border: 2px solid $secondary;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;

                        gap: 0.5rem;

                        button {
                            @include flex();
                            background-color: transparent;
                            border: 0;
                            font-size: 1rem;
                            color: $secondary;

                            fa-icon {
                                @include flex();
                            }
                        }

                        p {
                            @include text(medium, bold);
                            color: $secondary;
                        }
                    }

                }

                .specification {
                    @include subgrid();
                    grid-column: 1 / -1;
                    background-color: $white;
                    padding: 1rem;
                    gap: 0.5rem;
                    border-radius: 0.5rem;

                    .specification-card {
                        grid-column: 1 / -1;
                        @include flex($justify: space-between);


                        p {
                            @include heading(h5);
                            color: $secondary;
                        }

                        fa-icon {
                            padding: 1rem;
                            background-color: $secondary;

                            border-radius: 0.5rem;
                        }

                    }

                    .form-specifications {
                        .labels {
                            @media(min-width: $tablet) {
                                &:first-child {
                                    grid-column: 1 / 4;
                                }

                                &:last-child {
                                    grid-column: 4 / -1;
                                }
                            }

                            @media(min-width: $desktop) {

                                &:first-child {
                                    grid-column: 1 / 7;
                                }

                                &:last-child {
                                    grid-column: 7 / -1;
                                }
                            }
                        }



                    }

                }



            }


            &.section-variants {

                .variants {

                    display: flex;
                    flex-wrap: wrap;
                    grid-column: 1 / -1;
                    row-gap: 0.25rem;

                    gap: 1rem;

                    .select-tag {
                        @include flex($justify: start);
                        background-color: $white;
                        border: 2px solid $secondary;
                        border-radius: 0.5rem;
                        padding: 0.5rem 1rem;

                        gap: 0.5rem;

                        button {
                            @include flex();
                            background-color: transparent;
                            border: 0;
                            font-size: 1rem;
                            color: $secondary;

                            fa-icon {
                                @include flex();
                            }
                        }

                        p {
                            @include text(medium, bold);
                            color: $secondary;
                        }
                    }

                }

                .variant {
                    @include subgrid();
                    grid-column: 1 / -1;
                    background-color: $white;
                    padding: 1rem;
                    gap: 0.5rem;
                    border-radius: 0.5rem;

                    .variant-card {
                        grid-column: 1 / -1;
                        @include flex($justify: space-between);


                        p {
                            @include heading(h5);
                            color: $secondary;
                        }

                        fa-icon {
                            padding: 1rem;
                            background-color: $secondary;

                            border-radius: 0.5rem;
                        }

                    }

                    .form-variants {
                        @include subgrid();
                        grid-column: 1 / -1;

                        div {
                            @include subgrid();
                            grid-column: 1 / -1;
                            row-gap: 1rem;

                            .labels {
                                @media(min-width: $tablet) {
                                    &:first-child {
                                        grid-column: 1 / 4;
                                    }

                                    &:last-child {
                                        grid-column: 4 / -1;
                                    }
                                }

                                @media(min-width: $desktop) {

                                    &:first-child {
                                        grid-column: 1 / 7;
                                    }

                                    &:last-child {
                                        grid-column: 7 / -1;
                                    }
                                }
                            }
                        }

                        .btn-add-img {
                            grid-column: 1 / 4;
                        }

                        .images-list {
                            @include subgrid();
                            grid-column: 1 / -1;
                            gap: 0.5rem;

                            .image {
                                @include flex($justify: space-between);
                                grid-column: 1 / -1;
                                border: 2px solid $primary;
                                border-radius: 0.5rem;
                                padding: 1rem 1.5rem;

                                img {
                                    width: 4.5rem;
                                    height: 4.5rem;
                                    border-radius: 0.5rem;
                                }

                                fa-icon {
                                    @include flex();
                                    color: $white;
                                    background-color: $primary;
                                    border-radius: 0.5rem;
                                    padding: 1rem;
                                }
                            }
                        }

                    }
                }

            }

        }

        .header {

            &-specifications,
            &-variants {
                @include flex($justify: start);
                grid-column: 1 / -1;
                gap: 0.5rem;

                h6 {
                    color: $primary;

                    @media(min-width: $tablet) {
                        @include heading(h4);
                    }

                }

                .btn-add {
                    @include flex();
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: $primary;
                    border-radius: 100%;

                    border: 0;

                    cursor: pointer;

                    fa-icon {
                        @include flex();
                        color: $white;
                    }
                }
            }
        }


        .labels {
            grid-column: 1 / -1;

            p {
                @include text(normal, bold);
                color: $primary;

                @media(min-width: $desktopHD) {
                    @include heading(h6);
                }
            }

            input {
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 6.25rem;
            }

        }


        .div-btns {
            @include subgrid();
            grid-column: 1 / -1;
            row-gap: 1rem;

            @media(min-width: $tablet) {
                :first-child {
                    grid-column: 1 / 4;
                }

                :last-child {
                    grid-column: 4 / -1;
                }
            }

            @media(min-width: $desktop) {

                :first-child {
                    grid-column: 3 / 6;
                }

                :last-child {
                    grid-column: 8 / -3;
                }
            }

        }

    }

}