<main>
  <app-main-carousel [itensCarousel]="itens"></app-main-carousel>

  <app-round-card-section
    [roundCardList]="categories"
    [title]="'Categorias de produtos'"
  ></app-round-card-section>

  <app-product-section
    [title]="'Ofertas'"
    [productList]="products"
  ></app-product-section>

  <app-banner-cta></app-banner-cta>

  <app-round-card-section
    [roundCardList]="brands"
    [title]="'Nossas Marcas'"
  ></app-round-card-section>

  <app-product-section
    [title]="'Produtos melhores avaliados'"
    [productList]="products"
  ></app-product-section>
</main>
