<div class="div-container">
    <p>Métodos de pagamento</p>
    <div class="div-icons">
        <div>
            <img src="../../../../../assets/images/pixIcon.png" alt="">
        </div>
        <div>
            <img src="../../../../../assets/images/boletoIcon.png" alt="">
        </div>
        <div>
            <img src="../../../../../assets/images/mastercardIcon.png" alt="">
        </div>
    
    
        <div>
            <img src="../../../../../assets/images/visaIcon.png" alt="">
        </div>
        <div>
            <img src="../../../../../assets/images/hipercardIcon.png" alt="">
        </div>
        <div>
            <img src="../../../../../assets/images/eloIcon.png" alt="">
        </div>
    </div>

</div>