@import "styles";

main {
  @include grid-container();

  row-gap: 1.5rem;
  @media (min-width: $desktopHD) {
    row-gap: 2rem;
  }

  h3 {
    color: $primary;
    grid-column: 1 / -1;
    text-align: center;
    @include heading();
    @media (min-width: $tablet) {
      text-align: start;
      @include heading(h4);
    }
    @media (min-width: $desktopHD) {
      text-align: start;
      @include heading(h3);
    }
  }

  .layout {
    @include subgrid();
    background-color: $white;
    border-radius: 1rem;

    padding-bottom: 1rem;
    row-gap: 1rem;
    @media (min-width: $tablet) {
      padding-bottom: 1.5rem;
      row-gap: 1.5rem;
    }
    @media (min-width: $desktop) {
      row-gap: 1.5rem;
    }

    app-navbar {
      grid-column: 1 / -1;
    }

    .content {
      @include subgrid();
      aspect-ratio: 1 / 1;
      overflow-x: hidden;
      overflow-y: auto;

      margin: 0 1rem;
      height: 18rem;
      grid-column: 1 / -1;
      @media (min-width: $tablet) {
        margin: 0;
        aspect-ratio: auto;
        grid-column: 2 / span 4;
        height: 25rem;
      }
      @media (min-width: $desktop) {
        grid-column: 2 / span 10;
      }
      @media (min-width: $desktopHD) {
      }

      &::-webkit-scrollbar {
        width: 0.25rem;
        @media (min-width: $tablet) {
          width: 0.5rem;
        }
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray4;
        border-radius: 0.5rem;
      }
    }

    .buttons {
      @include subgrid();
      grid-auto-rows: min-content;
      row-gap: 1rem;
      padding: 0 1rem;
      @media (min-width: $tablet) {
        padding: 0;
      }

      button {
        height: 3.5rem;
        grid-column: 1 /-1;

        @media (min-width: $tablet) {
          grid-column: auto / span 2;
        }
        @media (min-width: $desktop) {
          grid-column: auto / span 3;
        }

        &.cancel {
          grid-column-start: 1;
          @media (min-width: $tablet) {
            grid-column-start: 2;
          }
        }

        &.continue {
          grid-column-start: 1;
          @media (min-width: $tablet) {
            grid-column-start: 4;
          }
          @media (min-width: $desktop) {
            grid-column-start: 9;
          }
        }
      }
    }
  }
}
