@import "styles";

.card {
  @include flex($justify: flex-start);
  gap: 0.5rem;
  width: 100%;
  background-color: $light-primary;
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }

  input {
    aspect-ratio: 1 / 1;
    width: 1.5rem;
  }

  .content {
    @include flex(row, flex-start, flex-start);
    gap: 1.5rem;
    width: 100%;

    img {
      border-radius: 0.5rem;
      aspect-ratio: 1 / 1;
      width: 6rem;
      object-fit: cover;
      align-self: center;
    }

    .text-content {
      @include flex($align: flex-start, $justify: space-between);
      gap: 1.5rem;
      width: 100%;

      .title-text {
        .title {
          @include text(large, bold);
          color: $primary;
        }

        &.name {
          width: 34%;
        }
        &.distance {
          width: 14%;
        }
        &.opening-hours {
          width: 24%;
        }
        &.offered-services {
          width: 28%;
        }
      }
    }
  }
}
