<app-header (sideBarOpenEmitter)="sideBarOpen($event)" [simple]="true" [employee]="true"></app-header>
<main>
  <app-dashboard-side-bar pageNow='produto' [isOpen]="isOpen"></app-dashboard-side-bar>

  <div class="layout-dashboard">
    <div class="div-searchbar-orderBy">
      <label class="searchbar" for="searchbar" appInput>
        <div>
          <input (keydown)="verifyChar($event)" [(ngModel)]="searchValue" type="text" name="searchbar"
            placeholder="Digite o produto..." />
          <button (click)="handleClickSeach()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </label>
      <div class="div-orderBy">
        <span class="span-orderBy">{{productsList.length}} resultados ordenados por</span>
        <app-order-by [typesOrderBy]="typesOrderBy" (emitOrderBy)="getSortBy($event)"></app-order-by>
      </div>
    </div>


    <div class="cards">
      <ng-container *ngFor="let product of productsList">
        <app-product-card-dashboard [product]="product"></app-product-card-dashboard>
      </ng-container>
    </div>
  </div>
</main>