<dialog #modal [open]="open" (cancel)="$event.preventDefault()">
  <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
    <h4>Esqueci minha senha</h4>
    <p>E-mail enviado com sucesso! Digite o código recebido</p>
    <div class="form">
      <label for="code" appInput>
        <input
          type="string"
          id="code"
          formControlName="code"
          placeholder="Digite o código"
          [class.has-error]="code?.touched && code?.invalid"
          mask="000000"
          required
        />
        <ng-container *ngIf="code?.touched && code?.invalid">
          <span *ngIf="code?.getError('isEmpty')" class="error-message">
            Você deve preencher esse campo!
          </span>
          <span *ngIf="code?.getError('mask')" class="error-message">
            O código deve ser no formato 000000!
          </span>
        </ng-container>
      </label>
      <input
        type="submit"
        value="Enviar"
        [disabled]="!isFormValid()"
        appButton="secondary"
      />
    </div>
    <p>Se não receber em até 2 minutos, clique para reenviar código.</p>
    <button appButton class="resend-button" (click)="resendCode($event)">
      Reenviar código
    </button>
  </form>
</dialog>
