<section class="section-variants">

    <div class="header-variants">
      <h6>Variantes</h6>
      <button class="btn-add" (click)="addVariants()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  
    <div class="variants" *ngIf="serviceVariantsList">
      <ng-container *ngFor="let service of serviceVariantsList">
        <div class="select-tag" (click)="editSpecification(service)">
          <p>{{service.variantTitle}}</p>
          <button (click)="deleteVariant(service)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div>
  
    <ng-container *ngIf="variationsOpen">
      <div class="variant">
  
        <ng-container *ngIf="variantUpdate != ''; else noVariant">
          <div class="variant-card">
            <p>{{variantUpdate}}</p>
            <button (click)="updateVariant()" appButton="secondary">Salvar</button>
          </div>
        </ng-container>
  
        <ng-template #noVariant>
          <div class="variant-card">
            <p>Adicionar Variação</p>
            <button (click)="addVariant()" appButton="secondary">Adicionar</button>
          </div>
        </ng-template>
  
  
        <form [formGroup]="variantForm" class="form-variants">
  
            <label for="title" class="labels" appInput>
              <p>Título da Variação*</p>
              <input type="title" id="title" formControlName="title" placeholder="Título da variação" required />
            </label>
  
            <label for="code" class="labels" appInput>
              <p>Código*</p>
              <input type="code" id="code" formControlName="code" placeholder="Código da variação" required />
            </label>
            
            <label for="price" class="labels" appInput>
              <p>Preço*</p>
              <input type="price" id="price" formControlName="price" placeholder="Preço da variação" required />
            </label>
  
        </form>
  
      </div>
    </ng-container>
  
  </section>