<div class="divCarouselProduct">
    <app-product-details-carousel [images]="productVariant.images"></app-product-details-carousel>
</div>
<div class="divDetails">
    <div class="divTitle">
        <h6>{{product.title}}</h6>
        <span>Código {{productVariant.variantCode}}</span>
        <p>{{product.shortDescription}}</p>
    </div>
    <div class="divBrands">
        <a href="">{{product.brand.name}}</a>
        <div class="divider"></div>
        <ng-container *ngIf="productVariant.stock">
            <span class="inStock">Em estoque</span>
        </ng-container>
        <ng-container *ngIf="!productVariant.stock">
            <span class="noStock">Sem estoque</span>
        </ng-container>
    </div>
    <div class="divButtonsProduct">
        <button class="btnRating">
            <fa-icon [icon]="faStar"></fa-icon>{{product.rating}}
        </button>
        <button class="btnReviews">
            <fa-icon [icon]="faComment"></fa-icon>{{product.reviews.length}}
        </button>
        <button class="noClasseBtn">
            <fa-icon class="icon like" [icon]="faHeart" (click)="likeProduct()"></fa-icon>
        </button>
        <button class="noClasseBtn">
            <fa-icon class="icon" [icon]="faShare"></fa-icon>
        </button>
    </div>
        <div class="divVariantsOfProducts">
            <p>{{typeOfProducts}}</p>
            <div class="divVariants">
                <ng-container *ngFor="let variant of product.variants">

                    <ng-container *ngIf="variant === productVariant; then ifBlock else elseBlock"></ng-container>

                    <ng-template #ifBlock>
                        <button class="btnVariant choose" (click)="chooseVariant(variant)">{{variant.variantTitle}}</button>
                    </ng-template>

                    <ng-template #elseBlock>
                        <button class="btnVariant" (click)="chooseVariant(variant)">{{variant.variantTitle}}</button>
                    </ng-template>

                </ng-container>
            </div>
        </div>
</div>