<section class="commonSection">
    <div class="commonSection-primary">
        <div class="divCarouselProduct">

        </div>
        <div class="divDetails">
            <div class="divTitle">
                <h5>Areia Biodegradável</h5>
                <span>Código 0987654321</span>
                <p>Areia biodegradável para seu gato fazer suas necessidades</p>
            </div>
            <div class="divBrands">
                <a href="">Meau</a>
                <div class="divider"></div>
                <ng-container *ngIf="stock">
                    <span class="inStock">Em estoque</span>
                </ng-container>
                <ng-container *ngIf="!stock">
                    <span class="noStock">Sem estoque</span>
                </ng-container>
            </div>
            <div class="divButtonsProduct">
                <button class="btnRating"><fa-icon [icon]="faStar"></fa-icon>4,99</button>
                <button class="btnReviews"><fa-icon [icon]="faComment"></fa-icon>128</button>
                <button class="noClasseBtn">
                    <fa-icon class="icon like" [icon]="faHeart" (click)="likeProduct()"></fa-icon>
                </button>
                <button class="noClasseBtn">
                    <fa-icon class="icon" [icon]="faShare"></fa-icon>
                </button>
            </div>
            <ng-container *ngIf="typesDivider.length >= 2">
                <div class="divTypesOfProducts">
                    <p>{{typeOfProducts}}</p>
                    <ng-container *ngFor="let types of typesDivider">
                        <div>
                            <ng-container *ngFor="let type of types">
                                <button class="btnType">{{type.type}}</button>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</section>