@import 'styles';

aside {
    @include flex(column, start, space-between);
    padding: 2rem 10px;

    width: 250px;
    height: 100vh;
    background-color: $white;


    @media (max-width: 1023px) {
        &.isOpen-false {
            display: none;
        }

        &.isOpen-false {}

    }



    .container {
        @include flex(column, start, start);
        gap: 1rem;
        width: 100%;

        .accordion {
            @include flex(column, start, start);
            width: 100%;
            gap: 0.5rem;

            &-btn {
                @include flex(row, center, space-between);
                color: $gray3;
                border: 0;
                padding: 0 0.75rem;
                background-color: $white;
                width: 100%;

                &-header {
                    @include flex();
                    gap: 0.5rem;

                    fa-icon {
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        color: $gray3;
                    }

                    span {
                        @include text(large, bold);
                        color: $gray3;
                    }
                }

                .arrow {
                    @include flex(row, center, start);
                    font-size: 1rem;
                    color: $gray3;
                }
            }

            .accordion-description {
                display: none;
                width: 100%;


                ul {
                    @include flex(column, center, start);
                    list-style: none;
                    gap: 0.25rem;

                    li {
                        list-style: none;

                        a {
                            @include text(medium, bold);
                            color: $black1;
                        }
                    }
                }
            }

            &.clicked {

                .accordion-btn {
                    background-color: $light-secondary;
                    padding: 0.75rem;
                    border-radius: 2rem;
                    color: initial;

                    .accordion-btn-header {
                        span {
                            color: initial;
                        }

                        fa-icon {
                            color: initial;
                        }
                    }

                    .arrow {
                        color: initial;
                    }
                }

                .accordion-description {
                    display: block;
                }

            }
        }

    }

    @media (min-width: $desktop) {

        &.size-small {
            width: 120px;

            .container {

                .accordion {

                    &-btn {
                        @include flex(row, center, center);

                        &-header {
                            span {
                                display: none;
                            }
                        }

                        .arrow {
                            display: none;
                        }
                    }

                    .accordion-description {
                        display: none;
                        width: 100%;

                    }
                }

            }



        }

    }

}