<div class="card" (click)="openPage()">
  <div class="products">
    <ng-container *ngIf="order; else subscriptionProduct">
      <img [src]="order.items[0].product.images[0]" alt="Imagem do produto" />
      <p>#{{ order.orderCode }}</p>
    </ng-container>
    <ng-template #subscriptionProduct>
      <img
        [src]="(subscription?.product?.images)![0]"
        alt="Imagem do produto"
      />
      <p>{{ subscription?.product?.title }}</p>
    </ng-template>
  </div>
  <div class="dates">
    <ng-container *ngIf="order; else subscriptionDates">
      <p>Pedido feito em {{ order.orderDate | mask : "d0/M0/0000" }}</p>
      <ng-container *ngIf="order.expectedDate; else alreadyArrived">
        <p>
          Previsão de entrega em {{ order.expectedDate | mask : "d0/M0/0000" }}
        </p>
      </ng-container>
      <ng-template #alreadyArrived>
        <p>Pedido entregue</p>
      </ng-template>
    </ng-container>
    <ng-template #subscriptionDates>
      <p class="subscription-interval">
        <fa-icon [icon]="faClock"></fa-icon> Envio a cada
        {{ subscription?.interval }}
      </p>
      <p>
        Próxima entrega em
        {{ subscription?.nextShipping! | mask : "d0/M0/0000" }}
      </p>
    </ng-template>
  </div>
  <ng-container *ngIf="order; else subscriptionValue">
    <h6>Valor: {{ order.payment.total | currency : "BRL" }}</h6>
  </ng-container>
  <ng-template #subscriptionValue>
    <h6>Valor: {{ subscription?.payment?.total | currency : "BRL" }}</h6>
    <button class="cancel-button" (click)="cancelSubscription()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </ng-template>
</div>
