<div class="card" (click)="openOrder()">
  <div class="products">
    <ng-container *ngIf="this.order; else subscriptionProduct">
      <img [src]="order.items[0].product.images[0]" alt="Imagem do produto" />
      <p>#{{ order.orderCode }}</p>
    </ng-container>
    <ng-template #subscriptionProduct></ng-template>
  </div>
  <div class="dates">
    <ng-container *ngIf="this.order; else subscriptionDates">
      <p>Pedido feito em {{ order.orderDate | mask : "d0/M0/0000" }}</p>
      <ng-container *ngIf="order.expectedDate; else alreadyArrived">
        <p>
          Previsão de entrega em {{ order.expectedDate | mask : "d0/M0/0000" }}
        </p>
      </ng-container>
      <ng-template #alreadyArrived>
        <p>Pedido entregue</p>
      </ng-template>
    </ng-container>
    <ng-template #subscriptionDates>
      <p>Envio a cada {{ subscription?.interval }} dias</p>
    </ng-template>
  </div>
  <h6>Valor: {{ order?.payment?.total | currency : "BRL" }}</h6>
</div>
