@import "styles";

.footer {
  margin-top: 3.5rem;
  @media (max-width: $tablet) {
    margin-top: 2rem;
  }
  @media (max-width: $mobile) {
    margin-top: 1.5rem;
  }
}

app-footer-copyright {
  @media (max-width: $mobile) {
    display: none;
  }
}
