<label for="inputText">
    <p inputTitle="inputTitle">{{inputTitle}}</p>
    <div class="input"
        [ngStyle]="{ width: width !== '0' ? width + 'rem' : '46.063rem', 
        height: height !== '0' ? height + 'rem' : '2.875rem' }"
        [class.borderless]="borderless"
        [class.withIcon]="withIcon"
        [class.disabled]="disabled"
    >
        <input
        type="text"
        [placeholder]="placeholder"
        [disabled]="disabled"
        #textInput
        (change)="getValue(textInput.value)"
        id="inputText"
    >
    <ng-content></ng-content>
    
    </div>
</label>