@import 'styles';

input {
    max-width: 46.063rem;
    max-height: 2.875rem;

    border: 2px solid $primary;
    border-radius: 0.5rem;

    &:disabled {
        background-color: $light-primary;
    }
}