<ng-container *ngIf="itensCarousel?.length">
  <section class="embla">
    <button class="embla__button--prev" (click)="prevSlide()"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
    <button class="embla__button--next" (click)="nextSlide()"><fa-icon [icon]="faAngleRight"></fa-icon></button>
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide" *ngFor="let item of itensCarousel; index as i">
          <div class="slide">
            <a href={{item.link}}>
              <picture>
                <source 
                srcset={{item.imgSrcs[2]}}
                media="(max-width: 500px)"
                > 
                <source 
                srcset={{item.imgSrcs[1]}}
                media="(max-width: 1024px)"
                > 
                <img src={{item.imgSrcs[0]}} alt={{item?.alt}}>
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>