@import "styles";

app-layout {
  app-profile-form,
  app-contact-form,
  app-address-form,
  .action-buttons {
    @include subgrid();
    @media (min-width: $tablet) {
      grid-column: 2 / -2;
    }
  }

  .divider {
    grid-column: 1 / -1;
    @media (min-width: $tablet) {
      grid-column: 2 / -2;
    }
    width: 100%;
    height: 1px;
    background-color: $gray4;
  }

  .action-buttons {
    row-gap: 1rem;
    @media (min-width: $desktop) {
      row-gap: 0;
    }
    button {
      height: 4rem;
      grid-column: 1 / -1;
      @media (min-width: $tablet) {
        grid-column: 2 / span 2;
      }
      @media (min-width: $desktop) {
        grid-column: auto / span 3;
        &:last-child {
          grid-column: -4 / span 3;
        }
      }
    }
  }
}
