@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @include heading(h1);
}
h2 {
  @include heading(h2);
}
h3 {
  @include heading(h3);
}
h4 {
  @include heading(h4);
}
h5 {
  @include heading(h5);
}
h6 {
  @include heading();
}

p {
  @include text();
}
