@import "mixins";
@import "layout";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background-color: $background-primary;
  // @include grid-container();
}

.btn {
  @include text(normal, bold);
  @include transition();

  max-width: 12.5rem;
  padding: 0.5rem 1rem;

  border: 1px solid;
  border-radius: 0.5rem;

  @include flex();
  gap: 0.5rem;

  text-transform: uppercase;
  word-break: break-all;
  word-wrap: break-word;

  cursor: pointer;

  &.primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover {
      background-color: $light-primary;
      color: $black1;
    }
  }

  &.secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $black1;

    &:hover {
      background-color: $light-secondary;
      color: $black1;
    }
  }

  &:disabled {
    background-color: $grey2;
    color: $grey4;
    border: 1px solid $grey2;
    cursor: default;
  }

  &.icon {
    padding: 0.75rem;
    fa-icon {
      font-size: 1.25rem;
    }
  }
}
