@mixin grid-container() {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  column-gap: 0;
  padding: 0 1.5rem;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(6, minmax(auto, 5rem));
    column-gap: 2rem;
    padding: 0;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(12, minmax(auto, 3.5rem));
    column-gap: 1.5rem;
    padding: 0;
  }

  @media (min-width: $desktopHD) {
    grid-template-columns: repeat(12, minmax(auto, 4rem));
    column-gap: 2rem;
    padding: 0;
  }
}

@mixin subgrid() {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
