@import "mixins";

$fredoka: "Fredoka", sans-serif;
$rubik: "Rubik", sans-serif;

@mixin heading($type: h6) {
  font-family: $fredoka;
  font-weight: 500;

  @if $type == h1 {
    font-size: 3.5rem;
    line-height: 4.125rem;
  } @else if $type == h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  } @else if $type == h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  } @else if $type == h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  } @else if $type == h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  } @else {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@mixin text($size: normal, $weight: regular) {
  font-family: $rubik;

  @if $size == large {
    font-size: 1.125rem;
    line-height: 1.625rem;
  } @else if $size == medium {
    font-size: 1rem;
    line-height: 1.375rem;
  } @else if $size == small {
    font-size: 0.75rem;
    line-height: 0.875rem;
  } @else {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @if $weight == bold {
    font-weight: 700;
  } @else if $weight == semibold {
    font-weight: 600;
  } @else if $weight == medium {
    font-weight: 500;
  } @else {
    font-weight: 400;
  }
}

h1 {
  @include heading(h1);
}
h2 {
  @include heading(h2);
}
h3 {
  @include heading(h3);
}
h4 {
  @include heading(h4);
}
h5 {
  @include heading(h5);
}
h6 {
  @include heading();
}

p, span {
  @include text();
}
