<section class="section-variants">

  <div class="header-variants">
    <h6>Variantes</h6>
    <button class="btn-add" (click)="addVariants()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="variants" *ngIf="variants.length > 0">
    <ng-container *ngFor="let variant of variants.controls; let i = index">
      <div class="select-tag" (click)="editVariant(i)">
        <p>{{getTitle(i)?.value}}</p>
        <button (click)="deleteVariant(i)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="variationsOpen">
    <div class="variant">

      <ng-container *ngIf="variantModal != null; else noVariant">
        <div class="variant-card">
          <p>{{getTitle(variantModal)?.value}}</p>
          <button (click)="updateVariant()" appButton="secondary">Salvar</button>
        </div>
      </ng-container>

      <ng-template #noVariant>
        <div class="variant-card">
          <p>Adicionar Variação</p>
          <button (click)="addVariant()" appButton="secondary">Adicionar</button>
        </div>
      </ng-template>

      <form [formGroup]="variantForm" class="form-variants">

        <div>
          <label for="title" class="labels" appInput>
            <p>Título da Variação*</p>
            <input type="text" id="title" formControlName="title" placeholder="Título da variação" required />
          </label>

          <label for="code" class="labels" appInput>
            <p>Código*</p>
            <input type="text" mask="0*" [dropSpecialCharacters]="true" id="code" formControlName="code" placeholder="Código da variação" required />
          </label>
        </div>

        <div>

          <label for="stock" class="labels" appInput>
            <p>Estoque</p>
            <input type="text" mask="separator" [dropSpecialCharacters]="true" [thousandSeparator]="'.'" id="stock" formControlName="stock" placeholder="Quantidade da variação no estoque"
              required />
          </label>

          <label for="price" class="labels" appInput>
            <p>Preço*</p>
            <input 
            type="text"
            
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            prefix="R$ "
            [dropSpecialCharacters]="true"

            id="price" formControlName="price" 
            placeholder="Preço da variação" 
            required />
          </label>

        </div>

          <label for="price" class="labels" appInput>
            <p>Desconto</p>
            <input 
            type="text"
            
            mask="00"
            [decimalMarker]="','"
            suffix=" %"
            [dropSpecialCharacters]="true"

            id="discount" formControlName="discount" 
            placeholder="Desconto do produto" 
            required />
          </label>

        <label for="images" class="labels btn-add-img" appButton="">
          Adicionar Imagem
          <input type="file" accept="image/png, image/jpeg" id="images"  multiple
            (change)="addImagesVariant($event)" style="display: none" />
        </label>

        <div class="images-list">
          <ng-container *ngFor="let image of getImageForms()?.value; let i = index">
            <div class="image">
              <div class="image-angles">

                <div class="div-angles">
                  <fa-icon class="angles" [class.disable]="i == 0" (click)="passUpImage(i)" [icon]="faAngleUp"></fa-icon>
                  <fa-icon class="angles" [class.disable]="i == getImageForms()?.value.length - 1" (click)="passDownImage(i)" [icon]="faAngleDown"></fa-icon>
                </div>

                <img [src]="image.src" alt="">

              </div>
              <p>{{image.name}}</p>
              <fa-icon class="trash" [icon]="faTrash" (click)="removeImage(i)"></fa-icon>
            </div>
          </ng-container>
        </div>

      </form>

    </div>
  </ng-container>

</section>