<div class="card-container">
    <a class="image" href="">
        <img src="" alt="product-image">
    </a>
    <p class="title">Ração úmida kelcat sachê carne</p>
    <div class="code">
        <p><span>Código: </span>1234</p>
        <p><span>Estoque: </span>1000</p>
    </div>
    <div class="main-pricing">
        <div class="pricing-values">
            <!-- <ng-container *ngIf="product.discountPrice !== 0"> -->
            <ng-container>
                <p class="price">
                    <!-- {{ product.price | currency : "BRL" : "symbol" : "1.2-2" }} -->
                    R$ 100
                </p>
            </ng-container>
            <!-- <p [ngClass]="{ 'before-discount': product.discountPrice !== 0 }"> -->
            <p>
                <!-- {{ product.discountPrice | currency : "BRL" : "symbol" : "1.2-2" }} -->
                R$ 100
            </p>
        </div>
        <!-- <ng-container *ngIf="product!.maxInterestFreeParcels > 1"> -->
        <ng-container>
            <!-- <p class="parcels">até {{ product.maxInterestFreeParcels }}x sem juros</p> -->
            <p class="parcels">até 1x sem juros</p>
        </ng-container>
    </div>
    <div class="subscribers-pricing">
        <p class="subscribers-price">
            <!-- {{ product.subscribersPrice | currency : "BRL" : "symbol" : "1.2-2" }} -->
            R$ 100
        </p>
        <p class="subscribers-text">Apenas para assinantes</p>
    </div>
    <div class="buttons-container">
        <button (click)="handleClickEdit()" appButton>Editar</button>
        <button class="icon-button" appButton="secondary" (click)="handleClickTrash()">
            <fa-icon [icon]="faTrash" class="trash-icon"></fa-icon>
        </button>
    </div>
</div>