@import "styles";

.footer-main {
  width: 100%;
  background-color: $primary;
  color: $white;

  a {
    @include text(small);
    color: $white;
    text-decoration: none;
  }

  &-content {
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    padding: 1rem 1.5rem;

    @media (min-width: $tablet) {
      padding: 1.5rem 4rem;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      padding: 1.5rem 2.75rem;
    }
    @media (min-width: $desktopHD) {
      padding: 2rem 10rem;
    }

    .divider {
      display: none;
      @media (min-width: $tablet) {
        display: block;
        width: 1px;
        background-color: $white;
        min-height: 10rem;
        align-self: center;
      }
    }

    .items-container {
      @include flex(column, flex-start, flex-start);
      gap: 0.5rem;
      @media (min-width: $tablet) {
        gap: 1rem;
      }

      h6 {
        @include text($weight: semibold);
        @media (min-width: $desktop) {
          @include heading();
        }
      }

      div {
        @include flex($align: flex-start, $justify: flex-start);
        flex-wrap: wrap;
        gap: 0.5rem;
        @media (min-width: $tablet) {
          flex-direction: column;
        }

        fa-icon {
          font-size: 1rem;
          @media (min-width: $tablet) {
            font-size: 1.5rem;
          }
          @media (min-width: $desktopHD) {
            font-size: 2rem;
          }
        }

        img {
          width: 1rem;
          @media (min-width: $tablet) {
            width: 1.5rem;
          }
          @media (min-width: $desktop) {
            width: 2rem;
          }
        }

        p,
        a {
          @include text(small);
        }
      }
    }

    .our-politics {
      @media (min-width: $tablet) {
        min-width: 9.125rem;
      }
    }

    .contacts {
      min-width: 10rem;
      @media (min-width: $desktop) {
        min-width: 12.125rem;
      }

      &-items {
        &-text {
          display: none;
        }

        @media (min-width: $tablet) {
          a {
            @include flex();
            gap: 0.5rem;
          }
          &-text {
            display: block;
          }
        }
      }
    }

    .vertical-info {
      @include flex(column, flex-start, flex-start);
      gap: 1rem;

      .vertical-divider {
        display: none;
        @media (min-width: $tablet) {
          display: block;
          height: 1px;
          width: 100%;
          background-color: $white;
        }
      }

      .payment-methods {
        &-items {
          @media (min-width: $desktop) {
            flex-wrap: nowrap;
          }
          flex-direction: row;
          align-items: center;
        }
      }

      .social-media {
        &-items {
          @media (min-width: $desktop) {
            flex-wrap: nowrap;
          }
          flex-direction: row;
          align-items: center;
        }
      }
    }

    .about-us {
      max-width: 10rem;
      @media (min-width: $desktop) {
        max-width: 11.25rem;
      }
      @media (min-width: $desktopHD) {
        max-width: 16rem;
      }
      p {
        @include text(small);
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
