@import "styles";

app-layout {
  .content {
    @include subgrid();
    row-gap: 1rem;
    grid-column: 2 / -2;
    .order-by {
      @include subgrid();
      gap: 1rem;

      p {
        @include flex($justify: flex-end);
        @include text($weight: bold);
        grid-column: 1 / -3;
      }

      app-order-by {
        grid-column: auto / span 2;
      }
    }
    .cards {
      @include subgrid();
      row-gap: 1.5rem;

      app-order-card {
        grid-column: 1 / -1;
      }
    }
  }
}
