@import "styles";

.card {
  @include flex(row, center, start);
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem 1.5rem;

  background-color: $light-primary;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  input {
    aspect-ratio: 1 / 1;
    width: 1.75rem;
  }

  .div-name-cep-street {
    width: 100%;

    .div-name-cep {
      @include flex(column, start, space-between);
      width: 100%;
      gap: 0.25rem;

      @media (min-width: $tablet) {
        @include flex(row, center, space-between);
      }

      .name-address {
        @include text(small, bold);

        @media (min-width: $tablet) {
          @include text(large, bold);
        }
      }

      .cep {
        @include text(small);
      }
    }

    .address {
      @include text(small, bold);
      color: $primary;
    }

    @media (min-width: $tablet) {
      .address {
        @include text(medium, bold);
        color: $primary;
      }
    }
  }
}
