<div class="container" *ngIf="product">
    <div class="div-product-pricing">
        <span class="product-discountPrice">{{product.discountPrice | currency : "BRL" : "symbol" : "1.2-2"}}</span>
        <h4 class="product-price">{{product.price | currency : "BRL" : "symbol" : "1.2-2"}}</h4>
        <ng-container *ngIf="product.maxInterestFreeParcels > 1">
            <p>ou {{product.maxInterestFreeParcels}}x de {{ (product.price / product.maxInterestFreeParcels) | currency : "BRL" : "symbol" : "1.2-2" }} sem juros</p>
        </ng-container>
    </div>
    <div class="div-product-subscriber">
        <div class="div-title-subscriber">
            <p>
                <fa-icon [icon]="faPercent"></fa-icon>
                <span>{{product.subscribersPrice | currency: "BRL" : "symbol" : "1.2-2"}} para assinantes</span>
            </p>
        </div>
        <ul class="list-subscriber">
            <li class="item-list"><fa-icon [icon]="faCheck"></fa-icon><span>20% OFF para todos os produtos</span></li>
            <li class="item-list"><fa-icon [icon]="faCheck"></fa-icon><span>Assinatura e benefícios nas lojas</span></li>
            <li class="item-list"><fa-icon [icon]="faCheck"></fa-icon><span>Frete grátis</span></li>
        </ul>
    </div>
    <div class="div-buttons">
        <div class="div-button-input">
            <div class="div-amount">
                <p class="title-amount">Quantidade</p>
                <div class="div-amount-input">
                    <button class="btn-amount" (click)="minusValue()"><fa-icon [icon]="faMinus"></fa-icon></button>
                    <input class="input-amount" (change)="changeInput($event)" type="number" [(ngModel)]="value"> 
                    <button class="btn-amount" (click)="plusValue()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>
            </div>
            <button appButton="secondary" class="btn-add-cart">Adicionar ao Carrinho</button>
        </div>
        <button class="btn-buy" appButton="">Compre Agora</button>
    </div>
    <ng-container *ngIf="this.errorValue">
        <p class="error-amount">A quantidade de produtos solicitada é maior do que a disponível em estoque.</p>
    </ng-container>
</div>

