@import "styles";

.card {
  @include flex($justify: flex-start);
  gap: 1rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background-color: $light-primary;
  padding: 1rem 1.5rem;

  .text {
    @include flex(column, flex-start, flex-start);
    p {
      @include text(medium, bold);
    }
  }
}
