<div class="content">
  <div class="address-info">
    <ng-container *ngIf="type == 'cart'; else petshopAddress">
      <h6>Endereço de entrega</h6>
      <p>
        <strong> {{ orderInformation?.address?.name || "Senai" }}</strong>
      </p>
      <p>
        Rua {{ orderInformation?.address?.street || "Walter Marquardt" }},
        {{ orderInformation?.address?.number || "2" }}
      </p>
      <p>
        {{ orderInformation?.address?.neighborhood || "Vila Nova" }} -
        {{ orderInformation?.address?.city || "Jaraguá do Sul" }} -
        {{ orderInformation?.address?.state || "SC" }}
      </p>
      <p>
        CEP:
        {{
          orderInformation?.address?.cep! | mask : "00000-000" || "12345-087"
        }}
      </p>
      <h6>
        {{
          orderInformation?.shipping?.shippingType?.shippingTime ||
            "Entrega de 4 a 6 dias úteis"
        }}
      </h6>
    </ng-container>
    <ng-template #petshopAddress>
      <h6>Endereço do petshop</h6>
      <p>{{ schedulingInformation?.petshop?.address }}</p>
    </ng-template>
  </div>
  <div class="divider"></div>
  <div class="order-info">
    <ng-container *ngIf="type == 'cart'; else schedulingPayment">
      <h6>Resumo do pedido</h6>
      <div class="info-container">
        <p>
          Produtos ({{ orderInformation?.items?.length }} ite{{
            orderInformation?.items?.length! == 1 ? "m" : "ns"
          }})
        </p>
        <p>{{ orderInformation?.payment?.subtotal | currency : "BRL" }}</p>
      </div>
      <div class="info-container">
        <p>Frete</p>
        <ng-container
          *ngIf="orderInformation?.payment?.shippingFee; else freeShipping"
        >
          <p>{{ orderInformation?.payment?.shippingFee | currency : "BRL" }}</p>
        </ng-container>
        <ng-template #freeShipping>
          <p class="free-shipping">Grátis</p>
        </ng-template>
      </div>
      <div class="info-container">
        <p>Pagamento</p>
        <p>{{ getValuePayment() }}</p>
      </div>
      <div class="info-container">
        <p>Quantidade de parcelas</p>
        <p>{{ orderInformation?.payment?.parcels }}</p>
      </div>
      <div class="info-container">
        <h6>Total</h6>
        <div class="valor">
          <p>{{ orderInformation?.payment?.total | currency : "BRL" }}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #schedulingPayment>
      <h6>Resumo do agendamento</h6>
      <div class="info-container">
        <p>
          Serviços ({{ schedulingInformation?.services?.length }} ite{{
            schedulingInformation?.services?.length! == 1 ? "m" : "ns"
          }})
        </p>
        <p>{{ schedulingInformation?.payment?.subtotal | currency : "BRL" }}</p>
      </div>
      <div class="info-container">
        <p>Pagamento</p>
        <p>{{ getValuePayment() }}</p>
      </div>
      <div class="info-container">
        <p>Quantidade de parcelas</p>
        <p>{{ schedulingInformation?.payment?.parcels }}</p>
      </div>
      <div class="info-container">
        <h6>Total</h6>
        <div class="valor">
          <p>{{ schedulingInformation?.payment?.total | currency : "BRL" }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
