<div class="content">
  <div class="acknowledgment">
    <div class="acknowledgment-send">
      <h6>
        Agredeçemos por escolher a Petshop Top Care, {{ user.loggedUser?.name }}
      </h6>
      <p>
        Enviamos detalhes do seu pedido para seu email:
        <strong>{{ user.loggedUser?.email }}</strong>
      </p>
    </div>
    <p>
      <strong>Pedido: {{ orderInformation?.orderCode }}</strong>
    </p>
  </div>
  <div class="divider"></div>
  <div class="payment-informations">
    <ng-container *ngIf="orderInformation?.payment?.method?.value == 'pix'">
      <div class="informations">
        <div class="input-howPay">
          <label class="div-input" for="login" appInput>
            <p>Código Pix</p>
            <input
              type="text"
              [value]="orderInformation?.payment?.method?.pix?.copyPasteCode"
            />
          </label>
          <div class="howPay">
            <p class="title">Como pagar?</p>
            <div class="tips">
              <p class="tip">
                <span>1 -</span> Abra o app do seu banco, selecione pix;
              </p>
              <p class="tip">
                <span>2 -</span> Escaneie do QR code com seu celular ou cole o
                código pix;
              </p>
              <p class="tip"><span>3 -</span> Confira as informações;</p>
              <p class="tip"><span>4 -</span> Autorize o pagamento.</p>
            </div>
          </div>
        </div>
        <div class="payQRCode underDiv">
          <p>QR code</p>
          <img
            src="../../../../../assets/images/qrCodeFinish.png"
            alt="QRCode"
          />
        </div>
      </div>
      <div class="card-payment-information">
        <p>
          O código Pix tem prazo de 30 minutos para pagamento. Caso não seja
          realizado dentro desse período, o pedido será cancelado.
        </p>
      </div>
    </ng-container>

    <ng-container
      *ngIf="orderInformation?.payment?.method?.value == 'bankSlip'"
    >
      <div class="informations">
        <div class="input-howPay">
          <div class="div-experation">
            <h6 class="experation">
              Vencimento do boleto:
              {{
                orderInformation?.payment?.method?.bankSlip?.expirationInterval
              }}
              dias
            </h6>
          </div>
          <div class="howPay">
            <p class="title">Como pagar?</p>
            <div class="tips">
              <p class="tip">
                <span>1 -</span> Abra o app do seu banco, selecione pagar conta;
              </p>
              <p class="tip">
                <span>2 -</span> Escaneie do código de barra com seu celular;
              </p>
              <p class="tip"><span>3 -</span> Autorize o pagamento.</p>
            </div>
          </div>
        </div>
        <div class="payCodeBar underDiv">
          <p>Código de barra</p>
          <img
            src="../../../../../assets/images/codeBarFinish.png"
            alt="CodeBar"
          />
        </div>
      </div>
      <div class="card-payment-information">
        <p>
          Para pagar em qualquer banco, caixa eletrônico ou lotérica, por favor,
          imprima o boleto. O prazo de aprovação é de 1 dia útil após o
          pagamento.
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="orderInformation?.payment?.method?.value == 'card'">
      <div class="informations">
        <div class="input-howPay">
          <div class="div-cardValue">
            <h6 class="cardValue">
              Cartão de Crédito final
              {{ orderInformation?.payment?.method?.card?.lastDigits }}
            </h6>
            <h6 class="cardValue">Nome: {{ user.loggedUser?.name }}</h6>
          </div>
          <div class="howPay">
            <p class="title">Confirme seu pagamento:</p>
            <div class="tips">
              <p class="tip">
                <span>1 -</span> Abra o app do seu banco, extrato;
              </p>
              <p class="tip"><span>2 -</span> Verifique o pagamento.</p>
            </div>
          </div>
        </div>
        <div class="button underDiv">
          <button appButton="secondary" (click)="goToProfileOrder()">
            Ir para meus pedidos
          </button>
        </div>
      </div>
      <div class="card-payment-information">
        <p>
          O pagemento é confirmado em torno de 1 hora, após a confirmação será
          gerada a nota fiscal.
        </p>
      </div>
    </ng-container>
  </div>
  <div class="under-buttons">
    <ng-container
      *ngIf="orderInformation?.payment?.method?.value == 'bankSlip'"
    >
      <button appButton="secondary">Ver boleto</button>
    </ng-container>
    <button (click)="cancelOrder()" appButton="">Cancelar Compra</button>
  </div>
</div>
