@import 'styles';

.content {
    @include subgrid();
    row-gap: 1rem;

    .divider {
        grid-column: 1/ -1;
        border: 1px solid gray;
    }

    .acknowledgment{
        @include flex(column, start, start);
        grid-column: 1/ -1;
        gap: 0.5rem;
        
        &-send{
            gap: 0.25rem;
        }
    }

    .payment-informations {
        grid-column: 1/ -1;
        @include flex(column, start, start);
        row-gap: 1rem;

        .informations {
            width: 100%;
            @include flex(column, start, space-between);
            gap: 1rem;

            .button{
                @include flex(column, center, center);
                width: 100%;
                gap: 0.5rem;
                button{
                    width: 100%;
                }
            }

            .payQRCode, .payCodeBar{
                width: 100%;
                gap: 0.5rem;
                order: -1;
                @include flex(column, center, center);
            }
            

            @media(min-width: $tablet) {
                @include flex(row, start, space-between);

                .payQRCode, .payCodeBar, .button {
                    width: auto;
                    order: initial;
                }
            }

            .input-howPay {
                width: 100%;
                @include flex(column, start, start);
                gap: 1rem;
                
                @media(min-width: $tablet) {
                    width: auto;
                }

                .div-input{
                    width: 100%;
                        input{
                            width: 100%;
                        }
                }

                .div-experation, .div-cardValue{
                    width: 100%;

                    .cardValue, .experation{
                        @include text(small, bold);

                        @media(min-width: $mobile){
                            @include text(medium, bold);
                        }

                        @media(min-width: $tablet){
                            @include heading(h6);
                        }
                    }
                }

                .howPay {
                    @include flex(column, start, start);
                    gap: 0.5rem;

                    p {
                        &.title {
                            @include text(small, bold);
                            color: $gray2;
                        }
                    }

                    .tips {
                        @include flex(column, start, start);
                        gap: 0.25rem;

                        .tip {

                            span {
                                @include text(small, bold);
                                color: $gray2;
                            }
                        }
                    }
                }
            }

            .underDiv{

                &.payCodeBar{
                    img{
                        width: 15rem;;
                    }
                }
            }


        }

        .card-payment-information {
            @include flex();
            width: 100%;
            padding: 1rem;
            background-color: $light-secondary;
            border-radius: 0.5rem;

            p {
                @include text(small);
                color: $gray2;
                text-align: center;
            }
        }
    }

    .under-buttons{
        @include flex(row, center, end);
        grid-column: 1/ -1;
    }
    

}