@import "styles";

.about-us-container {
  @include grid-container;
}

.title {
  grid-column: 1 / span 3;
  @include heading(h1);
  color: $primary;
}

.content {
  grid-row: 2;
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: subgrid;
}

.text-section {
  grid-column: 1 / span 6;
  @include text(medium, regular);
  @include flex(column, flex-start, flex-start);
  gap: 1.5rem;
}
p {
  text-indent: 1.25rem;
}

.image-section {
  grid-column: 7 / -1;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .about-us-container {
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .title {
    grid-column: 1 / span 6;
    @include heading(h4);
    color: $primary;
    padding: 0 15px;
  }

  .content {
    padding: 0 15px;
    margin-top: 0;
  }

  .text-section {
    order: 1;
    grid-column: 1 / span 6;
    @include text(normal, regular);
    width: 100%;
  }

  .image-section {
    grid-column: 1 / span 6;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

@media (max-width: 320px) {
  .about-us-container {
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .title {
    grid-column: 1 / span 1;
    @include heading(h6);
    color: $primary;
    padding: 0 15px;
  }

  .content {
    padding: 0 15px;
    margin-top: 0;
  }

  .text-section {
    order: 1;
    grid-column: 1 / span 1;
    @include text(small, regular);
    width: 100%;
  }

  .image-section {
    grid-column: 1 / span 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
