@import "styles";

a {
  color: $black1;
  text-decoration: none;
  @include text(medium, medium);
}

main {
  @include grid-container();

  .content {
    @include subgrid();
    grid-column: 1 / -1;
    background-color: $white;
    border-radius: 1rem;
    padding: 1rem;

    @media (min-width: $desktop) {
      grid-column: 2 / -2;
    }

    .navigation-buttons {
      @include subgrid();
      grid-column: 2 / -2;
      row-gap: 1rem;
      a {
        @include flex();
        grid-column: 1 / -1;
        @media (min-width: $tablet) {
          grid-column: auto / span 2;
        }
        padding: 1rem;
        border-radius: 1rem;
        background-color: $light-primary;
      }

      .active {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
