<app-header></app-header>
<main>
  <div class="div-seachBy-orderBy">
    <span class="span-seachBy">Pesquisa "{{ searchValue }}"</span>
    <div class="div-orderBy">
      <span class="span-orderBy"
        >{{ productsList.length }} resultado{{productsList.length > 1 ? "s" : ""}}
        ordenado{{ productsList.length > 1 ? "s" : "" }} por</span
      >
      <app-order-by (emitOrderBy)="getOrderBy($event)"></app-order-by>
    </div>
  </div>
  <app-product-filter
    [productFilters]="productFilters"
    (emitFilters)="getFilters($event)"
  ></app-product-filter>
  <app-product-layout [products]="productsList"></app-product-layout>
</main>
<app-footer></app-footer>
