@import "styles";

input {

    padding: 1rem;

    background-color: $white;

    border: 1px $primary solid;
    border-radius: 0.5rem;

    font-family: $rubik;

    outline: none;

    &:disabled {
        border: none;
        background-color: $light-primary;
    }

}

label {
    @include flex(column, flex-start, flex-start);
    gap: 0.5rem;

    p {
        @include text(small);
      }
}