<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <app-select-input 
    width="28" 
    [opcoes]="['tartaruga', 'cachorro', 'gato']"
    (selectedItem)="onSelect($event)"
    label="title select"
>
</app-select-input> -->

<!-- <app-text-area 
    placeholder="placeholder"
    width="58"
    (valueEvent)="getValue($event)"
    label="tilte Text area"
>
</app-text-area> -->

<!-- <app-text-input></app-text-input> -->

<!-- <app-date-input 
    [disabled]=false
    (valueEvent)="getValue($event)"
    label="Title date"
>
</app-date-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Jaraguá"
    (valueEvent)="getValue($event)"
    label="Title radio Jaraguá"
    id="jaragua"
>
</app-radio-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Joiville"
    (valueEvent)="getValue($event)"
    label="Title radio joinville"
    id="joiville"
>
</app-radio-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Blumenau"
    (valueEvent)="getValue($event)"
    label="Title radio blumenau"
    id="blumenau"
>
</app-radio-input> -->

<!-- <app-checkbox-input
    (valueEvent)="getValue($event)"
    label="Title checkbox"
>
</app-checkbox-input> -->

<!-- <app-password-input
  placeholder="senha"
  [disabled]="false"
  width="70"
  height="2.875"
  (valueEvent)="getValue($event)"
  label="Title password"
>
</app-password-input> -->

<input id="name1" type="text" appInput />

<label for="name2" appInput>
  <p>Teste</p>
  <input id="name2" type="text" />
</label>

<label for="name3" appInput>
  <p>Teste</p>
  <div>
    <input id="name3" type="text" />
    <button><fa-icon [icon]="faIcon"></fa-icon></button>
  </div>
</label>

<label for="name4" appInput>
  <p>Teste</p>
  <div>
    <input id="name4" type="text" />
    <button>Aplicar</button>
  </div>
</label>

<label for="name5" appInput>
  <div>
    <input id="name5" type="text" />
    <button><fa-icon [icon]="faIcon"></fa-icon></button>
  </div>
</label>

<label for="name6" appInput>
  <div>
    <input id="name6" type="text" />
    <button>Aplicar</button>
  </div>
</label>
