<!-- <app-select-input 
    width="28" 
    [opcoes]="['tartaruga', 'cachorro', 'gato']"
    (selectedItem)="onSelect($event)"
>
</app-select-input> -->

<app-text-area 
    placeholder="placeholder"
    width="58"
>
</app-text-area>

<!-- <app-text-input 
    [disabled]=false
    width="70" 
    height="2.875" 
    placeholder="Procurar"
    [borderless]=false
    [withIcon]=true
>
<fa-icon [icon]="faIcon"></fa-icon>
</app-text-input> -->

<!-- <app-radio-input
    name="lojas"
    value="teste"
>
</app-radio-input> -->

<!-- <app-checkbox-input></app-checkbox-input> -->

<!-- <app-date-input 
    [disabled]=false
>
</app-date-input> -->
