
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-select-input 
    width="28" 
    [opcoes]="['tartaruga', 'cachorro', 'gato']"
    (selectedItem)="onSelect($event)"
>
</app-select-input> -->

<!-- <app-text-area 
    placeholder="placeholder"
    width="58"
    (ricardo)="getValue($event)"
>
</app-text-area> -->

<!-- <app-text-input 
    [disabled]=false
    width="70" 
    height="2.875" 
    placeholder="Procurar"
    [borderless]=false
    [withIcon]=true
    (ricardo)="getValue($event)"
>
<fa-icon [icon]="faIcon"></fa-icon>
</app-text-input> -->

<!-- <app-date-input 
    [disabled]=false
    (ricardo)="getValue($event)"
>
</app-date-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Jaraguá"
    (ricardo)="getValue($event)"
>
</app-radio-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Joiville"
    (ricardo)="getValue($event)"
>
</app-radio-input> -->

<!-- <app-radio-input
    name="lojas"
    value="Loja Blumenau"
    (ricardo)="getValue($event)"
>
</app-radio-input> -->

<!-- <app-checkbox-input
    (ricardo)="getValue($event)"
>
</app-checkbox-input> -->

<!-- <app-password-input
    placeholder="senha"
    [disabled]=false
    width="70" 
    height="2.875" 
    (ricardo)="getValue($event)"
>
</app-password-input> -->
