@import "styles";

main {
  @include grid-container();
  row-gap: 2rem;
  @media (min-width: $tablet) {
    row-gap: 2rem;
  }
  @media (min-width: $desktopHD) {
    row-gap: 3.5rem;
  }

  h4 {
    @include heading();
    grid-column: 1 / -1;
    text-align: center;

    @media (min-width: $tablet) {
      @include heading(h4);
    }
  }

  div {
    @include subgrid();
    grid-column: 1 / -1;
    @media (min-width: $desktop) {
      grid-column: auto / span 6;
    }

    &.login {
      padding: 1rem 0.5rem;
      row-gap: 1.5rem;
      @media (min-width: $tablet) {
        padding: 1rem 1.5rem;
      }
      @media (min-width: $desktop) {
        padding: 1rem 2rem;
      }
      border-radius: 1.25rem;
      background-color: $white;
      grid-template-rows: repeat(4, min-content);

      > * {
        grid-column: 1 / -1;
      }

      h4 {
        text-align: center;
        @media (min-width: $desktop) {
          text-align: start;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: $gray5;
      }
    }

    &.register {
      * {
        grid-column: 1 / -1;
      }
      div {
        @include subgrid();
        row-gap: 1rem;
        @media (min-width: $tablet) {
          row-gap: 1.5rem;
        }
        p {
          @include text(medium, bold);
          text-align: center;
        }
        button {
          height: 3.125rem;
          grid-column: 2 / span 4;
        }
      }

      img {
        width: 100%;
        @media (min-width: $tablet) {
          width: auto;
        }
        justify-self: center;
        align-self: flex-end;
      }
    }
  }
}

app-login-form,
app-external-login {
  @include subgrid();
}

h4 {
  color: $primary;
}
