@import 'styles';

div{
    grid-column: 1 / -1;
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem 100%;
    
    @media(min-width: $tablet){ 
        justify-content: space-between;
        gap: 1.5rem 0;
    }
    
    @media(min-width: $desktop){ 
        justify-content: start;
        gap: 1.5rem 83px;
    }

    @media(min-width: $desktopHD){ 
        gap: 1.5rem 2rem;
    }
    
    .noProducts{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        p{
            @include heading(h4);
        }
        img{
            object-fit: cover;
            width: 10rem;
            height: 10rem;
        }
    }
}