@import "styles";

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 5rem;

  @media (min-width: $tablet) {
    @include flex($justify: space-between);
    height: 4rem;
  }
  @media (min-width: $desktop) {
    height: 5rem;
  }

  a,
  h5 {
    width: auto;
    height: 100%;
    flex-grow: 1;
    @include flex();
    position: relative;
    @include text(small, bold);

    @media (min-width: $desktop) {
      @include text(medium, bold);
    }
    @media (min-width: $desktop) {
      @include heading(h5);
    }

    &:not(:nth-child(3n + 1)) {
      &::before {
        content: "";
        position: absolute;
        width: 3px;
        background-color: $gray5;
        height: 50%;
        left: 0;
      }
    }
    @media (min-width: $tablet) {
      &:not(:first-child) {
        &::before {
          content: "";
          position: absolute;
          width: 3px;
          background-color: $gray5;
          height: 50%;
          left: 0;
        }
      }
    }
  }

  a {
    color: $gray3;
    text-decoration: none;

    &.active {
      color: $secondary;
      border-bottom: 4px solid $secondary;
    }

    &.completed:not(.active) {
      color: $primary;
      border-bottom: 3px solid $primary;
    }

    &:hover {
      cursor: pointer;
    }
  }

  h5 {
    color: $gray3;
    border-bottom: 3px solid $gray5;
  }
}
