@import "styles";

.status-timeline {
  @include subgrid();

  .content {
    grid-column: 1 / -1;

    width: auto;
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    grid-template-rows: repeat(6, 3.5rem);
    row-gap: 1.25rem;
    column-gap: 1rem;
    place-self: center;

    @media (min-width: $desktop) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, auto);
      row-gap: 0.5rem;
      column-gap: 1rem;
    }

    .title {
      @include text(small, medium);
      display: none;

      @media (min-width: $desktop) {
        @include flex();
        grid-column: auto / span 1;
        grid-row: 1 / span 1;
      }

      @media (min-width: $desktopHD) {
        @include text($weight: bold);
      }
    }

    p {
      text-align: center;
      @include text(small);
      display: none;

      @media (min-width: $desktop) {
        display: block;
        grid-column: auto / span 1;
        grid-row: 3 / span 1;
      }

      @media (min-width: $desktopHD) {
        @include text();
      }
    }

    .mobile-text {
      @include flex(column);
      gap: 0.5rem;
      width: 100%;
      height: 100%;
      grid-row: auto / span 1;
      grid-column: 2 / span 1;

      .title-mobile,
      .date-mobile {
        display: block;
      }

      @media (min-width: $desktop) {
        display: none;
      }
    }

    .illustrations {
      @include flex(column);
      gap: 1.25rem;
      width: 3.5rem;
      grid-column: 1 / span 1;
      grid-row: 1 / span 6;

      @media (min-width: $desktop) {
        @include subgrid();
        width: 100%;
        place-items: center;
        grid-column: 1 / span 6;
        grid-row: 2 / span 1;
      }

      position: relative;
      &::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 2px;
        height: 90%;

        @media (min-width: $desktop) {
          width: 90%;
          height: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        background-color: $black1;
      }

      .illustration {
        @include flex();
        z-index: 20;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        background-color: $light-primary;

        @media (min-width: $desktop) {
          grid-column: auto / span 1;
          width: 4rem;
        }
        @media (min-width: $desktopHD) {
          width: 4rem;
        }

        fa-icon {
          font-size: 1rem;
          @media (min-width: $desktopHD) {
            font-size: 1.25rem;
          }
        }
        &.blue {
          background-color: $primary;
          fa-icon {
            color: $white;
          }
        }
        &.yellow {
          background-color: $secondary;
        }
      }
    }
  }
}
