@import "styles";

.header {
  margin-bottom: 3.5rem;
  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
  @media (max-width: 320px) {
    margin-bottom: 1.5rem;
  }
}

app-header-top {
  @media (max-width: 768px) {
    display: none;
  }
  @media (max-width: 320px) {
    display: none;
  }
}
