@import "styles";

.header {
  margin-bottom: 3.5rem;
  @media (max-width: $tablet) {
    margin-bottom: 2rem;
  }
  @media (max-width: $mobile) {
    margin-bottom: 1.5rem;
  }
}

app-header-top {
  display: none;
  @media (min-width: $tablet) {
    display: block;
  }
}
