<div class="divCarouselImage">
    <section class="embla">
        <button *ngIf="images.length > 3" class="embla__button--down" (click)="nextSlide()"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <div class="embla__viewport">
            <div class="embla__container">
                <div class="embla__slide" *ngFor="let image of images">
                    <ng-container *ngIf="image.src === selectImage?.src; then ifBlock else elseBlock"></ng-container>
                    <ng-template #ifBlock>
                        <img class="slide" (click)="getIdImage(image)" src={{image.src}}>
                    </ng-template>
                    <ng-template #elseBlock>
                        <img class="slide blur" (click)="getIdImage(image)" src={{image.src}}>
                    </ng-template>
                </div>
            </div>
        </div>
        <button *ngIf="images.length > 3" class="embla__button--up" (click)="prevSlide()"><fa-icon [icon]="faAngleRight"></fa-icon></button>
      </section>
    <section class="sectionImage">
        <img class="selectiongImage" src={{selectImage?.src}} alt={{selectImage?.name}}>
    </section>
</div>


