@import "styles";

.content {
  @include subgrid();
  row-gap: 1.5rem;

  h4 {
    @include heading();
    color: $primary;
    grid-column: 1 / -1;
    @media (min-width: $tablet) {
      @include heading(h4);
    }
  }

  app-order-product-card {
    grid-column: 1 / -1;
  }
}
