@import "styles";

select {
    max-width: 28rem;
    max-height: 2.875rem;

    border-radius: 8px;
    border: 0px;

    background-color: $light-primary;
    color: $grey3;

    font-family: $rubik;
}