@import "styles";

select {
    width: 100%;
    max-width: 28rem;
    height: 2.875rem;
    border-radius: 8px;
    background-color: $light-primary;
    font-family: $rubik;
    color: $grey3;
    border: 0px;
}