<section class="commonSection-full subgrid">
    <div class="divTextButton">
        <div class="divText">
            <h4>Blog de ajuda ao dono</h4>
            <p>Aqui, você encontrará dicas para cuidar do seu amigo animal, seja ele um adorável cãozinho, um simpático
                gatinho ou até mesmo um pet mais exótico. Queremos ajudá-lo a proporcionar uma vida feliz e saudável ao seu
                pet, com orientações sobre alimentação, higiene e cuidados especiais.</p>
        </div>
        <button appButton="secondary" (click)="openPage('')">Ver Agora</button>
    </div>
    <div class="divImg">
        <img src="../../../../../assets/images/HomeBannerCTA.png" alt="">
    </div>
</section>