<section class="commonSection-full subgrid">
    <div class="divText">
        <h4>commonSection</h4>
        <p>Aqui, você encontrará dicas para cuidar do seu amigo animal, seja ele um adorável cãozinho, um simpático
            gatinho ou até mesmo um pet mais exótico. Queremos ajudá-lo a proporcionar uma vida feliz e saudável ao seu
            pet, com orientações sobre alimentação, higiene e cuidados especiais.</p>
        <button appButton>Ver Agora</button>
    </div>
    <div class="divImg">
        <img src="../../../../../assets/1.png" alt="">
    </div>
</section>