<div class="div-container">
    <section class="section-informations">

        <div class="div-primary-informations">
            <div class="div-image">
                <img src={{item.product.images[0]}} alt="">
            </div>
    
            <div class="div-name-pricing">
                <span class="item-name">{{item.product.title}}</span>
                <div class="div-pricing">
                    <span class="item-price">{{item.product.price | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                    <span class="item-discountPrice">{{item.product.discountPrice | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                </div>
                <span class="item-variant">Tamanho: {{item.product.variant}}</span>
            </div>
        </div>
        <div class="div-secondary-informations">
            <div class="div-amount">
                <app-input-amount [value]="item.amount" (valueEmitter)="getAmount($event)"></app-input-amount>
            </div>
    
            <div class="div-subtotal">
                <span class="title">Subtotal</span>
                <span>{{subtotal | currency : "BRL" : "symbol" : "1.2-2"}}</span>
            </div>
    
            <div class="div-trash" (click)="emitRemoveItem()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </div>
        </div>


    </section>

    <div class="divider"></div>

    <section class="section-subscription">

        <div class="div-toggle">
            <label class="switch">
                <input type="checkbox" [checked]="isChecked" (change)="checked()">
                <span class="slider round"></span>
            </label>
            <p class="subscription" [class.checked]="isChecked" >Assinar Produto</p>
        </div>

        <ng-container *ngIf="isChecked">
            <div class="div-select-days">
                <fa-icon [icon]="faPercent"></fa-icon>
                <label appInput>
                    <select
                    class="select"
                      appInput
                      (change)="changeTypesSubscription($event.target)"
                    >
                      <option
                        [selected]="type == item.subscription"
                        *ngFor="let type of typesSubscriptions;"
                        [value]="type"
                        >
                        Enviar a cada {{ type }}
                    </option>
                    </select>
                  </label>
            </div>
        </ng-container>

    </section>

</div>