<div class="div-container">
    <section class="section-informations">

        <div class="div-image">
            <img src="https://images.petz.com.br/fotos/1658430805995.jpg" alt="">
        </div>

        <div class="div-name-pricing">
            <span class="item-name">Areia Biodegradável</span>
            <div class="div-pricing">
                <span class="item-price">R$ 40,00</span>
                <span class="item-discountPrice">R$ 45,00</span>
            </div>
            <span class="item-variant">Tamanho: G</span>
        </div>

        <div class="div-amount">
            <app-input-amount></app-input-amount>
        </div>

        <div class="div-subtotal">
            <span class="title">Subtotal</span>
            <span>R$ 80,00</span>
        </div>

        <div class="div-trash">
            <fa-icon [icon]="faTrash"></fa-icon>
        </div>

    </section>

    <div class="divider"></div>

    <section class="section-subscription">

        <div class="div-toggle">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <span>Assinar Produto</span>
        </div>

        <div class="div-select-days">
            <fa-icon [icon]="faPercent"></fa-icon>
            <select></select>
        </div>

    </section>

</div>