@import "styles";

.content {
  @include subgrid();
  grid-auto-rows: min-content;

  row-gap: 1rem;
  @media (min-width: $tablet) {
    row-gap: 1.5rem;
  }
  @media (min-width: $desktop) {
    row-gap: 2rem;
  }

  app-pet-card {
    grid-column: 1 / -1;
    @media (min-width: $tablet) {
      grid-column: auto / span 2;
    }
  }
}
