@import "styles";

.header-top {
  @include grid-container();
  p,
  a {
    @include text(small);
    color: $black1;
    text-decoration: none;
  }

  &-content {
    @include flex(row, center, space-between);
    width: 100%;
    grid-column: 1 / -1;
    padding: 0.5rem;

    .items-group {
      @include flex();
      gap: 0.5rem;
      height: 100%;

      .divider {
        width: 1px;
        height: 1.5rem;
        background-color: $black1;
      }
    }

    .starting-items {
      @include flex(row, center, flex-start);
      gap: 1.5rem;
      height: 100%;

      .brand-name {
        @include flex(column);
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
