<div class="header-top">
  <div class="header-top-content">
    <div class="starting-items">
      <a class="brand-name" routerLink="sobre-nos">
        <p>Top</p>
        <p>Care</p>
      </a>
      <div class="items-group">
        <a class="item" routerLink="sobre-nos">Petshop</a>
        <div class="divider"></div>
        <a class="item" routerLink="sobre-nos">Clínica</a>
      </div>
    </div>
    <div class="items-group">
      <a class="item" routerLink="nossas-lojas">Lojas</a>
      <div class="divider"></div>
      <a class="item" routerLink="contate-nos">Contatos</a>
    </div>
  </div>
</div>
