<app-header></app-header>
<main *ngIf="productPage">
    <section class="commonSection">
        
        
        <app-product-details 
        (productVariantstEmit)="changeVariableProduct($event)"  
        [product]="productPage" class="commonSection-primary">
        </app-product-details>

        <app-product-pricing (handleClickButtonBuyEmitter)="getHandleClickBuy()"
            (handleClickButtonCartEmitter)="getHandleClickCart()" (valueAmountEmitter)="getValueAmount($event)"
            class="commonSection-secondary" [productVariant]="productVariant">
        </app-product-pricing>

    </section>

    <app-product-section title="Itens Semelhantes" [category]="productPage.categories"></app-product-section>

    <app-product-description [description]="productPage.description"></app-product-description>

    <app-product-specifications [specifications]="productPage.specifications"></app-product-specifications>

    <ng-container *ngIf="productPage?.reviews?.length">
        <app-product-review-section [reviews]="productPage.reviews"></app-product-review-section>
    </ng-container>    

</main>
<app-footer></app-footer>