<section class="embla">
  <div class="embla__viewport">
    <div class="embla__container">
      <div class="embla__slide">
        <div class="embla__slide__number">1</div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number">2</div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number">3</div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number">4</div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number">5</div>
      </div>
    </div>
  </div>
</section>

<button class="embla__button--prev" (click)="prevSlide()"> back </button>
<button class="embla__button--next" (click)="nextSlide()"> next </button>