<div class="carousel">
  <button class="embla__button--prev" (click)="prevSlide()"> back </button>
  <section class="embla">
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide" *ngFor="let item of itens; index as i">
          <div class="slide">
            <img src="https://www.esker.com/sites/default/files/cp_2-docdel.jpg" alt="dasdasd">  
            <!-- <img src="" alt="">   -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <button class="embla__button--next" (click)="nextSlide()"> next </button>
</div>