@import 'styles';

.div-container {
    @include flex(column, start, start);
    gap: 1rem;

    .divider {
        width: 100%;
        border: 1px solid $gray5;
    }

    .section-cep-ticket {
        @include flex(column, start, start);
        width: 100%;
        gap: 0.5rem;

        @media(min-width: $tablet) {
            gap: 1rem;
        }

        .div-cep {
            width: 100%;
            @include flex(column, end, start);
            height: 100%;
            gap: 0.5rem;

            @media(min-width: $tablet) {
                @include flex(row, end, start);
            }

            .input-cep {
                width: 100%;

                input {
                    width: 100%;
                }
            }

            .div-button-cep {
                @include flex(column, start, start);
                gap: 0.5rem;
                width: 100%;

                .a-cep {
                    @include text(small);
                    color: $gray3;
                    text-decoration: underline;

                    @media(min-width: $tablet) {
                        @include text();
                    }
                }

                button {
                    height: 2.25rem;
                    width: 100%;

                    @media(min-width: $mobile) {
                        height: 2.75rem;
                    }
                }
            }
        }

        .div-shippings-title{
            @include flex(column, start, start);
            width: 100%;
            gap: 0.5rem;
            
            .shipping-title{
                
                .span-shipping-title{
                    @include heading(h6);
                    color: $primary;
                    
                }
                
            }
            
            .div-shippings{
                @include flex(column, start, start);
                width: 100%;
                gap: 0.5rem;
                
                .div-shipping{
                    @include flex(row, center, space-between);
                    width: 100%;
                    background-color: $light-primary;
                    border-radius: 0.5rem;
                    gap: 1rem;
                    padding: 0.75rem;
                    
                    .div-shippingName-input{
                        @include flex(row, center, start);
                        gap: 1rem;
                        
                        .input-shipping{
                            width: 1.5rem;
                        }
                        
                        .div-shipping-informations{
                            
                            .shipping-value{
                                @include text(normal, bold);
                                
                                &.green{
                                    color: $green;
                                }
                                
                                span{
                                    @include text(normal, bold);
                                    color: $primary;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                    .shipping-date{
                   
                        .black{
                            @include text(normal, bold);
                        }
                    }

                }

            }



        }

        .div-ticket {
            width: 100%;

            .input-ticket {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }

    }

    .section-informations {
        @include flex(column, start, start);
        width: 100%;
        gap: 0.5rem;

        @media(min-width: $tablet) {
            gap: 1rem;
        }

        .div-prices {
            @include flex(column, start, start);
            width: 100%;
            gap: 0.5rem;
            
            .informations-title {
                @include heading(h6);
            }
            
            .div-price,
            .div-shipping,
            .div-discount {
                @include flex(row, start, space-between);
                width: 100%;
            }
            
            .div-price {
                .price {
                    color: $gray2;
                }
            }
            
            .div-shipping {
                .shipping {
                    color: $gray2;
                }
            }
            
            .div-discount {
                .discount {
                    color: $green;
                }
            }
            
        }

        .div-totals {
            @include flex(row, center, space-between);
            width: 100%;
            
            .div-total{
                @include flex(column, end, space-between);
                
                .total{
                    @include text(large);
                    color: $gray2;
                }
                
                .p-parcels{
                    @include text(small);
                }
            }
        }
    }
    
    .section-buttons{
        @include flex(column, start, start);
        width: 100%;
        gap: 1rem;

        button{
            width: 100%;
        }
    }
}