<div class="div-container">
    <section class="section-cep-ticket">
        <div class="div-cep">
            <!-- <label class="input-cep" for="login" appInput>
                <p>Qual seu CEP?</p>
                <input
                  type="text"
                  placeholder="00000-000"
                  mask="00000-000"
                  (blur)="searchCep()"
                />
            </label> -->
            <div class="div-button-cep">
                <a class="a-cep" target="_blank" href="https://buscacepinter.correios.com.br/app/endereco/">Não sei meu CEP</a>
                <button (click)="openAddressModal()" appButton="secondary">Endereços Salvos</button>
            </div>
        </div>

        <ng-container *ngIf="this.cartService.getAddress()">
            <div class="div-shippings-title">

                <h6 class="shipping-title">
                    Endereço: 
                    <span class="span-shipping-title">{{this.cartService.getAddress()?.name}}</span>
                </h6>

                <form for="shipping" class="div-shippings">
                    <ng-container *ngFor="let shippingType of shippingTypes">

                        <div class="div-shipping">
                            <div class="div-shippingName-input">
                                <input class="input-shipping" 
                                appInput 
                                name="shipping" 
                                [checked]="shippingType.name == cartService.cartInformations.shippingType?.name"
                                (click)="chooseShipping(shippingType)" 
                                type="radio">
                                <div class="div-shipping-informations">
                                    <p class="p-shipping-name">{{shippingType.name}}</p>
                                    <ng-container *ngIf="shippingType.price > 0; else isGratis">
                                        <span class="shipping-value">{{shippingType.price | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                                    </ng-container>
                                    <ng-template #isGratis>
                                        <span class="shipping-value green">Grátis</span>
                                    </ng-template>
                                </div>
                            </div>
                            <p class="shipping-date black">{{shippingType.shippingTime}}</p>
                        </div>

                    </ng-container>
                </form>

            </div>

        </ng-container>

        <div class="div-ticket">
            <label class="input-ticket" for="login" appInput>
                <p>Cupom de desconto</p>
                <input
                  type="text"
                  placeholder="Digite seu cupom de desconto"
                />
            </label>
        </div>

    </section>

    <div class="divider"></div>

    <section class="section-informations">

        <div class="div-prices">
            <h6 class="informations-title">Pedido</h6>
            <div class="div-price"> 
                <p class="p-price">Valor do pedido ({{cartInformations.amountItens}} itens)</p>
                <span class="price">{{cartInformations.partialPrice | currency : "BRL" : "symbol" : "1.2-2"}}</span>
            </div>
            <ng-container *ngIf="cartInformations.shippingType?.price">
                <div class="div-shipping"> 
                    <p class="p-shipping">Valor do frete (expresso)</p>
                    <span class="shipping">{{cartInformations.shippingType?.price | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="cartInformations.discountPrice">
                <div class="div-discount">
                    <p class="p-discount">Valor do desconto</p>
                    <span class="discount">{{cartInformations.discountPrice | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                </div>
            </ng-container>
        </div>

        <div class="div-totals">
            <h6 class="total-tittle">Total</h6>
            <div class="div-total">
                <span class="total">{{cartInformations.totalPrice | currency : "BRL" : "symbol" : "1.2-2"}}</span>
                <p class="p-parcels">ou {{cartInformations.parcelsNumber}}x de {{cartInformations.parcelsPrice | currency : "BRL" : "symbol" : "1.2-2"}} sem juros</p>
            </div>
        </div>

    </section>

    <div class="divider"></div>

    <section class="section-buttons">
        <button (click)="handleClickBuy()" appButton="">Ir para pagamento</button>
        <button (click)="handleClickGoback()" appButton="secondary">Continuar comprando</button>
    </section>
</div>