<div class="content">
  <div class="address-info">
    <div>

      <h6>Endereço de entrega</h6>
      <p>
        <strong> {{ paymentInformation.address?.name }}</strong>
      </p>
      <p>
        Rua {{ paymentInformation.address?.street || "Walter Marquardt" }},
        {{ paymentInformation.address?.number || "2" }}
      </p>
      <p>
        {{ paymentInformation.address?.neighborhood || "Vila Nova" }} -
        {{ paymentInformation.address?.city || "Jaraguá do Sul" }} -
        {{ paymentInformation.address?.state || "SC" }}
      </p>
      <p>
        CEP:
        {{ paymentInformation.address?.cep! | mask : "00000-000" || "12345-087" }}
      </p>
      <h6>
        {{
          paymentInformation.shippingType?.shippingTime ||
            "Entrega de 4 a 6 dias úteis"
        }}
      </h6>
    </div>
    <button appButton="secondary" (click)="openAddresses = true">
      Alterar endereço
    </button>
  </div>
  <div class="divider"></div>
  <div class="order-info">
    <h6>Pedido</h6>
    <div class="info-container">
      <p>
        Valor dos produtos ({{ paymentInformation.amountItens }} ite{{
          paymentInformation.amountItens! == 1 ? "m" : "ns"
        }})
      </p>
      <p>{{ paymentInformation.partialPrice | currency : "BRL" }}</p>
    </div>
    <div class="info-container">
      <p>Valor do frete</p>
      <ng-container
        *ngIf="paymentInformation.shippingType?.price; else freeShipping"
      >
        <p>{{ paymentInformation.shippingType?.price | currency : "BRL" }}</p>
      </ng-container>
      <ng-template #freeShipping>
        <p class="free-shipping">Grátis</p>
      </ng-template>
    </div>
    <div class="info-container">
      <h6>Total</h6>
      <div class="valor">
        <p>{{ paymentInformation.totalPrice | currency : "BRL" }}</p>
        <p *ngIf="paymentInformation.parcelsNumber! > 1">
          ou {{ paymentInformation.parcelsNumber }}x de
          {{ paymentInformation.parcelsPrice | currency : "BRL" }} sem juros
        </p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <button appButton (click)="finishPayment()">Finalizar compra</button>
</div>

<app-choose-address-modal [(open)]="openAddresses"></app-choose-address-modal>
