@import "styles";

.content {
  @include subgrid();
  row-gap: 2rem;

  .order-details {
    @include flex(column, flex-start, flex-start);
    grid-column: 1 / -1;
    gap: 1.5rem;

    @media (min-width: $tablet) {
      grid-column: auto / span 2;
    }
    @media (min-width: $desktop) {
      grid-column: auto / span 4;
    }

    div {
      @include flex(column, flex-start, flex-start);

      &.title {
        h5 {
          color: $primary;
          @include heading();
          @media (min-width: $desktop) {
            @include heading(h5);
          }
        }
        p {
          @include text($weight: bold);
        }
      }

      &.date-status,
      &.shipping {
        p {
          span {
            @include text($weight: bold);
          }
        }
      }
    }
  }

  .action-buttons {
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    grid-column: 1 / -1;
    @media (min-width: $tablet) {
      grid-column: auto / span 2;
    }
    @media (min-width: $desktop) {
      grid-column: auto / span 3;
    }

    button {
      height: 2.25rem;
      width: 100%;
    }
  }

  app-order-shipping {
    @include subgrid();
  }
}
