<app-header [simple]="true"></app-header>

<main>
  <h1>Pagamento</h1>
  <div class="commonSection">
    <div class="commonSection-primary">
      <app-payment-layout
        (paymentMethod)="paymentMethod = $event"
      ></app-payment-layout>
    </div>
    <div class="commonSection-secondary">
      <app-payment-information
        [paymentMethod]="paymentMethod"
      ></app-payment-information>
    </div>
  </div>

  <app-product-item-section
    [items]="cartItems"
    [boxShadow]="false"
  ></app-product-item-section>
</main>

<app-footer type="copyright"></app-footer>
