<app-header [simple]="true"></app-header>

<main>
  <h1>Pagamento</h1>
  <div class="commonSection">
    <div class="commonSection-primary">
      <app-payment-layout></app-payment-layout>
    </div>
    <div class="commonSection-secondary">
      <app-payment-information></app-payment-information>
    </div>
  </div>

  <app-payment-item-section
    *ngIf="type == 'cart'"
    [type]="type"
    [items]="cartItems"
    [boxShadow]="false"
  ></app-payment-item-section>

  <app-payment-item-section
    *ngIf="type == 'scheduling'"
    [type]="type"
    [services]="schedulingItems!.services"
    [boxShadow]="false"
  ></app-payment-item-section>
</main>

<app-footer type="copyright"></app-footer>
