@import 'styles';

.commonSection-full{

    .title{
        color: $primary;
    }

    table{
        width: 100%;
        gap: 0;
        border-spacing: 0;
        overflow: hidden;

        tr:nth-child(even){
            background-color: transparent;
        }

        tr{
            background-color: $gray5;

            td{
                @include text();
                color: $gray2;
                padding:1.25rem 0rem;
                padding-left: 0.5rem;
                
                .td-title{
                    @include text($weight: bold);
                }
            }
        }
    }
}