<dialog #modal [open]="open" (cancel)="$event.preventDefault()">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h4>Altere a sua senha</h4>
    <div class="inputs">
      <label for="last-password" appInput>
        <p>Senha antiga</p>
        <div>
          <input
            [type]="showOldPassword ? 'text' : 'password'"
            id="last-password"
            placeholder="Digite a senha antiga"
            formControlName="oldPassword"
            [class.has-error]="oldPassword?.touched && oldPassword?.invalid"
            required
            (blur)="checkConfirmation()"
          />
          <button
            (click)="changeShowOldPassword($event)"
            [class.has-error]="oldPassword?.touched && oldPassword?.invalid"
          >
            <fa-icon [icon]="showOldPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
        <ng-container *ngIf="oldPassword?.touched && oldPassword?.invalid">
          <span *ngIf="oldPassword?.getError('isEmpty')" class="error-message">
            Você deve preencher esse campo!
          </span>
          <span
            *ngIf="oldPassword?.getError('wrongPassword')"
            class="error-message"
          >
            A senha está diferente da anterior!
          </span>
        </ng-container>
      </label>
      <label for="new-password" appInput>
        <p>Nova senha</p>
        <div>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="new-password"
            placeholder="Digite a nova senha"
            formControlName="newPassword"
            [class.has-error]="newPassword?.touched && newPassword?.invalid"
            required
            (blur)="checkConfirmation()"
          />
          <button
            (click)="changeShowPassword($event)"
            [class.has-error]="newPassword?.touched && newPassword?.invalid"
          >
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
        <ng-container *ngIf="newPassword?.touched && newPassword?.invalid">
          <span *ngIf="newPassword?.getError('length')" class="error-message">
            Mínimo 8 caracteres!
          </span>
          <span *ngIf="newPassword?.getError('number')" class="error-message">
            Deve conter um número!
          </span>
          <span
            *ngIf="newPassword?.getError('uppercase')"
            class="error-message"
          >
            Deve conter uma letra maiúscula!
          </span>
          <span
            *ngIf="newPassword?.getError('lowercase')"
            class="error-message"
          >
            Deve conter uma letra minúscula!
          </span>
          <span
            *ngIf="newPassword?.getError('samePassword')"
            class="error-message"
          >
            Deve ser diferente da anterior!
          </span>
        </ng-container>
      </label>
      <label for="password-confirmation" appInput>
        <p>Confirmação</p>
        <div>
          <input
            [type]="showPasswordConf ? 'text' : 'password'"
            id="password-confirmation"
            placeholder="Confirme sua senha"
            formControlName="passwordConf"
            [class.has-error]="passwordConf?.touched && passwordConf?.invalid"
            required
            (blur)="checkConfirmation()"
          />
          <button
            (click)="changeShowPasswordConf($event)"
            [class.has-error]="passwordConf?.touched && passwordConf?.invalid"
          >
            <fa-icon [icon]="showPasswordConf ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
        <ng-container *ngIf="passwordConf?.touched && passwordConf?.invalid">
          <span *ngIf="passwordConf?.getError('isEmpty')" class="error-message">
            Você deve preencher esse campo!
          </span>
          <span
            *ngIf="passwordConf?.getError('notEqual')"
            class="error-message"
          >
            A confirmação está diferente da senha!
          </span>
        </ng-container>
      </label>
      <button appButton class="close-button" (click)="onClose($event)">
        Fechar
      </button>
      <input
        type="submit"
        value="Salvar"
        [disabled]="!isFormValid()"
        appButton="secondary"
      />
    </div>
  </form>
</dialog>
