<app-header [simple]="true"></app-header>
<main>
    <h6 class="title">Compra Realizada</h6>
    
    <ng-container>
        
        <section class="commonSection">
            <app-finish-layout [orderInformation]="orderInformation" class="commonSection-primary"></app-finish-layout>
            <app-finish-information [orderInformation]="orderInformation" class="commonSection-secondary"></app-finish-information>
        </section>
        
    </ng-container>
    <app-payment-item-section 
    [items]="orderInformation?.items!"
    [boxShadow]="false"
    ></app-payment-item-section>

</main>
<app-footer type="copyright"></app-footer>
