<app-header [simple]="true"></app-header>
<main>
    <h6 class="title">Carrinho</h6>
    
    <ng-container>
        
        <section class="commonSection">
            <!-- <app-cart-product-card-section></app-cart-product-card-section> -->
            <app-finish-information [orderInformation]="finishInformation" class="commonSection-secondary"></app-finish-information>
        </section>
        
    </ng-container>
    <!-- <app-product-item-section 
    [items]="cartItems"
    [boxShadow]="false"
    ></app-product-item-section> -->

</main>
<app-footer type="copyright"></app-footer>
