<div class="card" (click)="openCard()">
  <div class="product">
    <img [src]="item.product.images[0]" alt="Imagem do produto" />
    <div class="title-variant">
      <p class="title">{{ item.product.title }}</p>
      <p class="variant">{{ defineVariant() }}: {{ item.product.variant }}</p>
    </div>
  </div>
  <div class="unit-quantity-subtotal">
    <div class="info-container">
      <p>Preço</p>
      <p>{{ item.product.price | currency : "BRL" }}</p>
    </div>
    <div class="info-container">
      <p>Quantidade</p>
      <p>{{ item.amount }} ite{{ item.amount > 1 ? "ns" : "m" }}</p>
    </div>
    <div class="info-container">
      <p>Subtotal</p>
      <p>{{ getSubtotal() | currency : "BRL" }}</p>
    </div>
  </div>
</div>
