@import "styles";

.header-main {
  @include grid-container();
  background-color: $primary;

  &-content {
    @include subgrid();
    width: 100%;
    padding: 0.75rem;

    @media (min-width: $desktop) {
      @include flex();
      grid-column: 1 / -1;
    }

    app-header-main-simple,
    app-header-main-full {
      @include subgrid();
    }
  }
}
