@import "styles";

.embla {
  @include subgrid();
  grid-column: 1 / -1;
  position: relative;
  width: 100%;

  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 25%;

  @media (max-width: $desktop) {
    --slide-size: 33.33%;
    --slide-spacing: 2.5rem;
  }
  @media (max-width: $tablet) {
    --slide-size: 50%;
    --slide-spacing: 3.5rem;
  }
  @media (max-width: $mobile) {
    --slide-size: 100%;
    --slide-spacing: 0rem;
  }
  
  .embla__viewport {
    overflow: hidden;
    grid-column: 1 / -1;
    .embla__container {
      backface-visibility: hidden;
      display: flex;
      touch-action: pan-y;
      margin: 0 calc(var(--slide-spacing) * -1);

      .embla__slide {
        flex: 0 0 var(--slide-size);
        padding: 0 var(--slide-spacing);

        app-product-card {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--slide-height);
        }
      }
    }
  }
}
