<ng-container *ngIf="itensProduct?.length">
    <section class="embla">
      <button class="embla__button--prev" (click)="prevSlide()"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
      <div class="embla__viewport">
        <div class="embla__container">
          <div class="embla__slide" *ngFor="let item of itensProduct; index as i">
            <app-product-card [product]="item"></app-product-card>
          </div>
        </div>
      </div>
      <button class="embla__button--next" (click)="nextSlide()"><fa-icon [icon]="faAngleRight"></fa-icon></button>
    </section>
  </ng-container>
