<div class="review-container commonSection-full">
    <div class="div-stars">
        <ng-container *ngFor="let starValue of starsValue">
            <ng-container *ngIf="starValue; then ifTrue else elseTrue"></ng-container>
            <ng-template #ifTrue>
                <fa-icon [icon]="faStarSolid"></fa-icon>
            </ng-template>
            <ng-template #elseTrue>
                <fa-icon [icon]="faStarRegular"></fa-icon>
            </ng-template>
        </ng-container>
    </div>
    <div class="div-review">
        <p class="review">{{review.review}}</p>
    </div>
    <div class="div-user-date">
        <div class="div-user">
            <!-- <img class="user-img" src={{review.customer.custumer_image.file}} alt=""> -->
            <span class="user-name">{{review.customer.fullname}}</span>
        </div>
        <span class="date">Data: {{review.reviewDate}}</span>
    </div>
</div>